<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" th:href="@{/css/user/addDietDetail.css}">
    <link rel="stylesheet" th:href="@{/css/user/local.css}">
    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/user/dietDetail.js}"></script>

    <style>
        .style_foodName{
            font-size: 13px;
        }

        .table-input-center{
            text-align: center;
            display: inline-block;
            width: 100%;
            max-width: 130px;
            height: 100%;
            border: none;
            outline: none;
        }

    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
        /*]]>*/
    </script>

    <script th:inline="javascript">

        //根据 食物类型 分页
        function pageByType(typeName){
            // var foodIds = getFoodTypeId(typeName);
            // console.log("foodIds",foodIds);
            // $.ajax({
            //     type:"post",
            //     url:contextPath+"/user/pageFoodByType",
            //     data: {foodIds: foodIds},
            //     success:function () {
            //
            //     }
            // });
        }

        //计算 总和
        function sum() {
            var energyTotal = 0;
            var Carbohydrate = 0;
            var Protein = 0;
            var Fat = 0;
            $("input[name='foodId0']").each(function (index) {
                energyTotal = parseFloat((parseFloat($("input[name='foodEnergy0']").eq(index).val()) /100 * parseFloat($("input[name='foodNum0']").eq(index).val()) + energyTotal).toFixed(2))
                Carbohydrate = parseFloat((parseFloat($("input[name='foodCarbohydrate0']").eq(index).val()) /100 * parseFloat($("input[name='foodNum0']").eq(index).val()) + Carbohydrate).toFixed(2))
                Protein = parseFloat((parseFloat($("input[name='foodProtein0']").eq(index).val()) /100 *parseFloat($("input[name='foodNum0']").eq(index).val()) + Protein).toFixed(2))
                Fat = parseFloat((parseFloat($("input[name='foodFat0']").eq(index).val()) /100 * parseFloat($("input[name='foodNum0']").eq(index).val()) + Fat).toFixed(2))
            });
            $("input[name='foodId1']").each(function (index) {
                energyTotal = parseFloat((parseFloat($("input[name='foodEnergy1']").eq(index).val()) /100 * parseFloat($("input[name='foodNum1']").eq(index).val()) + energyTotal).toFixed(2))
                Carbohydrate = parseFloat((parseFloat($("input[name='foodCarbohydrate1']").eq(index).val()) /100 * parseFloat($("input[name='foodNum1']").eq(index).val()) + Carbohydrate).toFixed(2))
                Protein = parseFloat((parseFloat($("input[name='foodProtein1']").eq(index).val()) /100 *parseFloat($("input[name='foodNum1']").eq(index).val()) + Protein).toFixed(2))
                Fat = parseFloat((parseFloat($("input[name='foodFat1']").eq(index).val()) /100 * parseFloat($("input[name='foodNum1']").eq(index).val()) + Fat).toFixed(2))
            });
            $("input[name='foodId2']").each(function (index) {
                energyTotal = parseFloat((parseFloat($("input[name='foodEnergy2']").eq(index).val()) /100 * parseFloat($("input[name='foodNum2']").eq(index).val()) + energyTotal).toFixed(2))
                Carbohydrate = parseFloat((parseFloat($("input[name='foodCarbohydrate2']").eq(index).val()) /100 * parseFloat($("input[name='foodNum2']").eq(index).val()) + Carbohydrate).toFixed(2))
                Protein = parseFloat((parseFloat($("input[name='foodProtein2']").eq(index).val()) /100 *parseFloat($("input[name='foodNum2']").eq(index).val()) + Protein).toFixed(2))
                Fat = parseFloat((parseFloat($("input[name='foodFat2']").eq(index).val()) /100 * parseFloat($("input[name='foodNum2']").eq(index).val()) + Fat).toFixed(2))
            });
            $('#dayEnergy').val(energyTotal);
            $('#dayCHO').val(Carbohydrate);
            $('#dayProtein').val(Protein);
            $('#dayFat').val(Fat);


        }

        // 删除food
        function delete_tr(t) {
            $(t).parent().parent().remove();
            sum()
        }

        function getInputName(name, index) {
            return index == 0 ? (name+0) : (index == 1 ? (name+1) : (name+2))
        }
        
        //加入food
        function pushFood(index, t) {
            var foodId =$(t).parent().parent().find('.span_foodId').text();
            $.ajax({
                type:"post",
                url:contextPath+"/user/getFoodForPushFood",
                data: {foodId: foodId},
                success:function (data) {
                    console.log("data",data);
                    var foodClass = getFoodClass(data.typeId);
                    var tbody = '<tr><td><button onclick="delete_tr(this)" class="btn btn-xs btn-default">删</button>\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodId',index)+'" value="'+data.foodId+'" type="hidden"/> '+
                        '<div class="food-type  '+foodClass+'"></div>\n' +
                        ''+data.foodName+'\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodNum',index)+'" type="number" class="table-input"\n' +
                        '   placeholder="输入重量"\n' +
                        '       value= "100"'+
                        '   style="max-width: 70px"\n' +
                        '   onchange="sum()"'+
                        '  min="0" onkeyup="minNumber(this),sum()"/>\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodEnergy',index)+'" type="text"\n' +
                        '   class="table-input-center"\n' +
                        '   placeholder=""\n' +
                        '       value="'+data.energy+'"  readonly="readonly"'+
                        '   style="max-width: 70px"\n' +
                        '   min="0" onkeyup="minNumber(this)"/>\n' +
                        '\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodCarbohydrate',index)+'" type="text"\n' +
                        '   class=" table-input-center"\n' +
                        '   placeholder=""\n' +
                        '       value="'+data.carbohydrate+'"  readonly="readonly"'+
                        '   style="max-width: 70px"\n' +
                        '   min="0" onkeyup="minNumber(this)"/>\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodProtein',index)+'" type="text"\n' +
                        '   class="table-input-center"\n' +
                        '   placeholder=""\n' +
                        '       value="'+data.protein+'"  readonly="readonly"'+
                        '   style="max-width: 70px"\n' +
                        '   min="0" onkeyup="minNumber(this)"/>\n' +
                        '</td>\n' +
                        '<td>\n' +
                        '<input name="'+getInputName('foodFat',index)+'" type="text"\n' +
                        '   class="table-input-center"\n' +
                        '   placeholder=""\n' +
                        '       value="'+data.fat+'"  readonly="readonly"'+
                        '   style="max-width: 70px"\n' +
                        '   min="0" onkeyup="minNumber(this)"/>\n' +
                        '</td></tr>';
                    if(index == 0){
                        $('#table0>tbody').append(tbody);
                    }
                    if(index == 1){
                        $('#table1>tbody').append(tbody);
                    }
                    if(index == 2){
                        $('#table2>tbody').append(tbody);
                    }
                    sum();
                }
            });

        }

        //点击效果
        function focusFood(t){
            // alert($(t).html())
            var s =  $(t).find('.selectNext').attr("style");
            var w = $(t).find('.selectPre').attr("style")
            // alert(s.indexOf("display"))
            if(s.indexOf("none") > 0){
                $('.food-search-item').each(function () {
                    $(this).removeClass('focusing-food');
                })
                $('.selectPre').each(function () {
                    $(this).css("display", "block");
                })
                $('.selectNext').each(function () {
                    $(this).css("display", "none");
                })

                $(t).parent().addClass('focusing-food')
                $(t).children('.selectNext').css("display", "block");
                $(t).children('.selectPre').css("display", "none");
            }
            if(w.indexOf("none") > 0){
                $(t).parent().removeClass('focusing-food')
                $(t).children('.selectPre').css("display", "block");
                $(t).children('.selectNext').css("display", "none");

            }
        }


        
        <!-- 分页 -->
        function page_food(currentPage, foodType, foodName, min, max){
            var pageCondition = {
                currentPage:currentPage,
                foodType:foodType,
                foodName:foodName,
                min:min,
                max:max
            }

            $.ajax({
                type:"post",
                url:contextPath+"/user/foodPage",
                dataType:"json",
                contentType : "application/json",
                data: JSON.stringify(pageCondition),
                success:function (resultData) {
                    // console.log("foods",resultData)
                    // console.log("1",getFoodType());

                    // var foodType = getFoodType();
                    // var foodClass = ['谷','豆','蔬','果','肉',' 乳','蛋','鱼','油','另'];
                    var str = '';
                    for(var i = 0; i < resultData.foods.length; i++){
                        // var typeName = '另';
                        // var thisFoodClass = 'food-type-';
                        // for(var j = 0; j < foodType.length; j++) {
                        //     if(resultData.foods[i].typeId === foodType[j].number){
                        //         typeName = foodType[j].typeName;
                        //         break;
                        //     }
                        // }
                        // for(var j = 0; j < foodClass.length; j++){
                        //     if(typeName === foodClass[j]){
                        //         thisFoodClass = thisFoodClass + (j+1);
                        //         break;
                        //     }
                        // }
                        var thisFoodClass = getFoodClass(resultData.foods[i].typeId);

                        str+='<div class="food-search-item">\n' +
                            '                            <div onclick="focusFood(this)" draggable="true">\n' +
                            '                                <span class="span_foodId" style="display: none;">'+resultData.foods[i].foodId+'</span>'+
                            '                                <span class="pull-right selectPre" style="display: block"><strong>'+resultData.foods[i].energy.toFixed(2)+'</strong> Kcal/100g</span>\n' +
                            '                                <div class="pull-right selectNext" style="display: none">\n' +
                                                                '<span class="pull-left" style="color:#919191">选入：</span>\n' +
                                                                '<button class="btn-add-food-0" onclick="pushFood(0,this)">早</button>\n' +
                                                                '<button class="btn-add-food-1" onclick="pushFood(1,this)">午</button>\n' +
                                                                '<button class="btn-add-food-2" onclick="pushFood(2,this)">晚</button>\n' +
                                                             '</div>'+
                            '                                <div class="food-type '+thisFoodClass+'"></div>\n' +
                            '                                <span class="style_foodName">'+resultData.foods[i].foodName+'</span>\n' +
                            '                            </div>\n' +
                            '                        </div>';
                    }
                    $('#div_foodList').html(str);
                    if(resultData.curPage <= 1){
                        $('#prePage').css('display','none');
                    }else{
                        $('#prePage').css('display','block');
                    }
                    if(resultData.curPage >= totalPage){
                        $('#nextPage').css('display','none');
                    }else{
                        $('#nextPage').css('display','block');
                    }
                    $('#currentPage').html(resultData.curPage);
                    $('#totalPage').html(resultData.totalPage);
                },
                error:function () {
                    alert("服务器请求失败");
                }
            });
        }

        $(function () {
            // console.log("1",getFoodType());

            page_food(1);

            $('#prePage').click(function () {
                page_food($('#currentPage').text() - 1);
            });

            $('#nextPage').click(function () {
                var curPage = $('#currentPage').text();
                page_food(parseInt(curPage) + 1);
            });



            $('#btn_addDiet').click(function () {

                if($('#dietTitle').val() == ''){
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;请填写食谱名称!',101);
                    return false;
                }
                if($('#targetEnergy').val() == ''){
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;请填写目标能量!',101);
                    return false;
                }

                if($('#dayEnergy').val() == 0){
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;请填写膳食信息!',101);
                    return false;
                }

                var dietVo = {
                    dietTitle:'',
                    targetEnergy:'',
                    per_carbohydrate: '',
                    per_protein:'',
                    per_fat:'',
                    per_zao:'',
                    per_zhong:'',
                    per_wan:'',
                    dayEnergy:'',
                    dayCHO:'',
                    dayProtein:'',
                    dayFat:'',
                    foodId0:[],
                    foodNum0:[],
                    foodId1:[],
                    foodNum1:[],
                    foodId2:[],
                    foodNum2:[],
                    introduce:''
                };

                dietVo.dietTitle = $('#dietTitle').val();
                dietVo.targetEnergy = $('#targetEnergy').val();
                dietVo.per_carbohydrate = $('#per_carbohydrate').val();
                dietVo.per_protein = $('#per_protein').val();
                dietVo.per_fat = $('#per_fat').val();
                dietVo.per_zao = $('#per_zao').val();
                dietVo.per_zao = $('#per_zhong').val();
                dietVo.per_wan = $('#per_wan').val();
                dietVo.dayEnergy = $('#dayEnergy').val();
                dietVo.dayCHO = $('#dayCHO').val();
                dietVo.dayProtein = $('#dayProtein').val();
                dietVo.dayFat = $('#dayFat').val();
                dietVo.introduce = $('#introduce').val();

                $('input[name="foodId0"]').each(function (index){
                    dietVo.foodId0.push($('input[name="foodId0"]').eq(index).val())
                });
                $('input[name="foodId1"]').each(function (index){
                    dietVo.foodId1.push($('input[name="foodId1"]').eq(index).val())
                });
                $('input[name="foodId2"]').each(function (index){
                    dietVo.foodId2.push($('input[name="foodId2"]').eq(index).val())
                });
                $('input[name="foodNum0"]').each(function (index){
                    dietVo.foodNum0.push($('input[name="foodNum0"]').eq(index).val())
                });
                $('input[name="foodNum1"]').each(function (index){
                    dietVo.foodNum1.push($('input[name="foodNum1"]').eq(index).val())
                });
                $('input[name="foodNum2"]').each(function (index){
                    dietVo.foodNum2.push($('input[name="foodNum2"]').eq(index).val())
                });

                $.ajax({
                    type:"post",
                    url:contextPath+"/user/addDiet",
                    dataType:"json",
                    contentType : "application/json",
                    // data: {dietVo:JSON.stringify(dietVo)},
                    // data:{dietVo:dietVo},
                    // data:"dietVo="+dietVo,
                    // data: {dietVo:JSON.stringify(dietVo)},
                    data : JSON.stringify(dietVo),
                    success:function (data) {

                    }
                });
            });
        });

        window.addEventListener("scroll",function(e){
            //变量t就是滚动条滚动时，到顶部的距离
            // var t = document.documentElement.scrollTop||document.body.scrollTop;
            var h = getScrollInfo().scrollTop - 340;
            if (h < 0) {
                h = 0
            }
            $('#foodToolMT').css('marginTop',h);
        });


    </script>


</head>
<body class="indexBody">
<div id="body">
    <!--nav-->
    <div th:replace="/html/top :: html"></div>

    <div class="EditDiet container">

        <!--<input type="hidden" name="currentPage" id="currentPage" th:value="${foods.pageNum}">-->

        <h2>
            添加食谱
            <span style="font-size: 18px">
                New Diet Detail
            </span>
        </h2>
        <hr/>

        <!--基础设置 -->
        <div class="row">
            <div class="col-lg-5 col-sm-4 ">
                <div class="hr-panel">
                    <div class="hr-panel-title">
                        食谱基本信息
                    </div>
                    <div class="hr-panel-body" style="padding: 10px">

                        <div class="row">
                            <div class="col-xs-6 col-md-12" style="margin-bottom: 10px">
                                <label for="dietTitle">
                                    食谱名称
                                </label>
                                <input id="dietTitle" name="dietTitle" type="text" class="form-control" >
                            </div>
                            <div class="col-md-6 col-xs-6" style="margin-bottom: 10px">
                                <label for="targetEnergy">
                                    目标能量 <span class="hidden-sm hidden-xs">(Kcal)</span>
                                </label>
                                <!--function -->
                                <input id="targetEnergy" name="targetEnergy" type="number" class="form-control" onkeyup="minNumber(this)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-8">
                <div class="hr-panel">
                    <div class="hr-panel-title">
                        供能比例
                    </div>
                    <div class="hr-panel-body" style="padding: 10px">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>
                                    三大营养素能量比例
                                </label>

                                <table class="table table-bordered table-responsive" style="margin-bottom: 16px;">
                                    <thead>
                                    <tr>
                                        <td>
                                            碳水化合物
                                        </td>
                                        <td>
                                            蛋白质
                                        </td>
                                        <td>
                                            脂肪
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> <input id="per_carbohydrate" name="per_carbohydrate" type="number" class="form-control input-sm" value="50"/></td>
                                        <td> <input id="per_protein" name="per_protein" type="number" class="form-control input-sm" value="25"/></td>
                                        <td> <input id="per_fat" name="per_fat" type="number" class="form-control input-sm" value="25"/></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-sm-6">
                                <label>
                                    三餐能量比例
                                </label>

                                <table class="table table-bordered table-responsive" style="margin-bottom: 16px;">
                                    <thead>
                                    <tr>
                                        <td>
                                            早餐
                                        </td>
                                        <td>
                                            午餐
                                        </td>
                                        <td>
                                            晚餐
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> <input id="per_zao" name="per_zao" type="number" class="form-control input-sm" value="3"/></td>
                                        <td> <input id="per_zhong" name="per_zhong" type="number" class="form-control input-sm" value="4"/></td>
                                        <td> <input id="per_wan" name="per_wan" type="number" class="form-control input-sm" value="3"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <!--详细设置-->
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-4">
                <!--食物查询-->
                <div id="foodToolMT" class="hr-panel" style="transition:margin-top 0.6s cubic-bezier(0, 1.12, 1, 1.06);">
                    <div class="hr-panel-title">
                        <div class="row">
                            <div class="col-md-4">
                                <strong style="line-height: 30px;text-align: right">
                                    食物名称
                                </strong>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control input-sm" placeholder="名称关键字">
                            </div>
                            <div class="col-md-4" style="margin-top: 10px">
                                <strong style="line-height: 30px;text-align: right">
                                    单位能量
                                </strong>
                            </div>
                            <div class="col-md-8" style="margin-top: 10px">

                                <!--function 鼠标离开事件-->
                                <input type="text" placeholder="最小" class="form-control input-sm pull-left" style="max-width: 70px">

                                <input type="text" placeholder="最大" class="form-control input-sm pull-right" style="max-width: 70px">
                            </div>
                            <div class="col-sm-12 box-row hor-ends" style="margin-top: 10px">

                                <!--后台 食物类型 数据 点击事件-->
                                <div class="food-type select-food-type" onclick="pageByType('谷')">
                                    <span>谷</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('豆')">
                                    <span>豆</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('蔬')">
                                    <span>蔬</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('果')">
                                    <span>果</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('肉')">
                                    <span>肉</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('乳')">
                                    <span>乳</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('蛋')">
                                    <span>蛋</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('鱼')">
                                    <span>鱼</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('油')">
                                    <span>油</span>
                                </div>
                                <div class="food-type select-food-type" onclick="pageByType('另')">
                                    <span>另</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--食物 后台所有食物数据-->
                    <div id="div_foodList" class="hr-panel-body" style="padding:10px 0;min-height: 260px;position: relative">
                        <!--食物 后台所有食物数据-->
                        <!--<div ms-repeat="foodList" class="food-search-item"-->
                             <!--ms-class="focusing-food:$index===focusingFood">-->
                            <!--<div ms-click="focusFood($index)" draggable="true">-->
                                <!---->
                                <!--<span class="pull-right" ms-if="$index!==focusingFood"><strong>{{Number(Number(el.Energy*100).toFixed(2))}}</strong> Kcal/100g</span>-->
                                <!--<div class="pull-right" ms-if="$index===focusingFood">-->
                                    <!--<span class="pull-left" style="color:#919191">选入：</span>-->
                                    <!--<button class="btn-add-food-0" ms-click="pushFood(0,$index)">早</button>-->
                                    <!--<button class="btn-add-food-1" ms-click="pushFood(1,$index)">午</button>-->
                                    <!--<button class="btn-add-food-2" ms-click="pushFood(2,$index)">晚</button>-->
                                <!--</div>-->
                                <!--<div class="food-type" ms-class="food-type-{{el.TypeID}}"></div>-->
                                <!--<span>{{el.Name}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="food-search-item" th:each="food,iterStat:${foods.list}">-->
                            <!--<div draggable="true">-->
                                <!--<span class="pull-right"><strong><span th:text="${#numbers.formatDecimal(food.energy,1,2)}"></span></strong> Kcal/100g</span>-->
                                <!--<div class="food-type food-type-1"></div>-->
                                <!--<span th:text="${food.foodName}"></span>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="food-search-item">-->
                            <!--<div draggable="true">-->
                                <!--<span class="pull-right"><strong>246</strong> Kcal/100g</span>-->
                                <!--<div class="food-type food-type-1"></div>-->
                                <!--<span>全麦面包</span>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>

                    <!--分页 -->
                    <div class="hr-panel-footer food-search-pager">
                        <div class="row">
                            <div class="col-sm-3">
                                <i id="prePage" class="icon iconfont icon-shangyiye"></i>
                            </div>
                            <div class="col-sm-6">
                                第<span id="currentPage"></span>/<span id="totalPage"></span>页
                            </div>
                            <div class="col-sm-3">
                                <i id="nextPage" class="icon iconfont icon-shangyiye1-copy"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--食谱食材列表-->
            <div class="col-lg-9 col-md-8 col-sm-8">
                <!--早餐-->
                <div class="hr-panel" style="margin-bottom: 20px">
                    <div class="hr-panel-title ">
                        <span class="text-success pull-left">早餐</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="hr-panel-body" style="padding:10px">

                        <table class="table table-responsive table-bordered " id="table0">
                            <thead>
                            <tr>
                                <td></td>
                                <td>食物</td>
                                <td>数量(g)</td>
                                <td>能量(kcal)</td>
                                <td>碳水化合物(g)</td>
                                <td>蛋白质(g)</td>
                                <td>脂肪(g)</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--午餐-->
                <div class="hr-panel" style="margin-bottom: 20px">
                    <div class="hr-panel-title ">
                        <span class="text-danger pull-left">午餐</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="hr-panel-body" style="padding:10px">

                        <table class="table table-responsive table-bordered" id="table1">
                            <thead>
                            <tr>
                                <td></td>
                                <td>食物</td>
                                <td>数量(g)</td>
                                <td>能量(kcal)</td>
                                <td>碳水化合物(g)</td>
                                <td>蛋白质(g)</td>
                                <td>脂肪(g)</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--晚餐-->
                <div class="hr-panel" style="margin-bottom: 20px">
                    <div class="hr-panel-title ">
                        <span class="text-info pull-left">晚餐</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="hr-panel-body" style="padding:10px">

                        <table class="table table-responsive table-bordered" id="table2">
                            <thead>
                            <tr>
                                <td></td>
                                <td>食物</td>
                                <td>数量(g)</td>
                                <td>能量(kcal)</td>
                                <td>碳水化合物(g)</td>
                                <td>蛋白质(g)</td>
                                <td>脂肪(g)</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>


                </div>

                <!--食谱统计-->
                <div class="hr-panel" style="margin-bottom: 20px">
                    <div class="hr-panel-title">
                        食谱统计
                    </div>
                    <div class="hr-panel-body" style="padding:10px">
                        <table class="table table-responsive table-bordered ">
                            <thead>
                            <tr>
                                <td></td>
                                <td>能量总计(kcal)</td>
                                <td>碳水化合物(g)</td>
                                <td>蛋白质(g)</td>
                                <td>脂肪(g)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>小计</td>
                                <td><input name="dayEnergy" id="dayEnergy" type="text" class="table-input-center" value="0.00" readonly="readonly" ></td>
                                <td><input name="dayCHO" id="dayCHO" type="text" class="table-input-center" value="0.00" readonly="readonly" ></td>
                                <td><input name="dayProtein" id="dayProtein" type="text" class="table-input-center" value="0.00" readonly="readonly" ></td>
                                <td><input name="dayFat" id="dayFat" type="text" class="table-input-center" value="0.00" readonly="readonly" ></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <br/>
                    </div>
                </div>

                <!--食谱简介-->
                <div class="hr-panel" style="margin-bottom: 20px">
                    <div class="hr-panel-title">
                        食谱介绍
                    </div>
                    <div class="hr-panel-body" style="padding: 10px">
                    <textarea id="introduce" rows="5" name="introduce" class="form-control" placeholder="填写食谱介绍"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8 pull-right">
                <div class="col-sm-4"  >
                    <!--点击事件-->
                    <button  class="btn btn-danger btn-block" onclick="history.go(-1)">
                        返回
                    </button>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4" >
                    <!--点击事件-->
                    <button id="btn_addDiet" class="btn btn-success btn-block">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="centerContent" style="display:none">操作成功！</div>
<div style="width: 100%;height: 100px">
</div>
</body>
</html>