<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>

    <link rel="stylesheet" th:href="@{/css/user/base.08fea82e.css}">
    <link rel="stylesheet" th:href="@{/css/user/addArticle.css}">

    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/user/bootstrap.bundle.js}"></script>

    <style>
        .choice-a{
            color: #007bff;
            background-color: white;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid #007bff;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .choice-a:hover {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .choice-now{
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .plain-a2{
            color: black;
        }
        .plain-a2:hover{
            color: #007bfe;
            text-decoration: none;
        }
        .selected-a{
            font-weight: 600;
            color:#007bfe;
        }

    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
        /*]]>*/
    </script>

    <script th:inline="javascript">
        $(function () {
            page_article(1,0,0,0);

            //我的发表
            $('#myArticle').click(function () {
                $('#article_page').html('');
                $('#currentPage').val(1)
                $("#morePages").val(1)
                if($(this).hasClass('btn-warning')){
                    $(this).html('全部文章')
                    $(this).removeClass('btn-warning')
                    $(this).addClass('btn-success')
                }else{
                    $(this).html('我的发表')
                    $(this).addClass('btn-warning')
                    $(this).removeClass('btn-success')
                }
                var pageArticleCondition = getCondition();
                page_article(1,pageArticleCondition.articleType,pageArticleCondition.roleId,pageArticleCondition.judgeTimeOrNumber);
            });

            //加载更多
            if ($('#isLastPage').val() == 1) {
                $("#bottomMore").html('<div class="offset-5">没有更多文章了。。</div>').removeClass("hide");
            } else {

                var execute = false;

                function addMore() {
                    var pageArticleCondition = getCondition();

                    $.ajax({
                        type: "POST",
                        url: contextPath+"/user/articlePage",
                        dataType:"json",
                        contentType : "application/json",
                        data: JSON.stringify(pageArticleCondition),
                        success: function (data) {
                            var articles = data.list;
                            if (data.isLastPage) {
                                $("#morePages").val(2);
                            }
                            for(var i = 0;i < articles.length; i++){
                                var title = articles[i].title;
                                if(title.length > 16){
                                    title = title.substr(0,16) + "...";
                                }
                                var str = '<div class="card hoverShadow " style="padding-top: 8px;margin: 3px 1px;float: left">\n' +
                                    '                                <div class="cardImgHead" >\n' +
                                    '                                    <a href="javascript:void(0)"  onclick="showArticle('+articles[i].articleId+')" class="plain-a larger-img">\n' +
                                    '                                        <img class="card-img-top" width="320px" height="360px"  src="'+contextPath+articles[i].pic_path+'" >\n' +
                                    '                                    </a>\n' +
                                    '                                </div>\n' +
                                    '                                <div class="card-body border border-top-0 rounded-bottom">\n' +
                                    '                                    <div class="card-text overFlowOneRow">\n' +
                                    '                                        <a href="javascript:void(0)"  onclick="showArticle('+articles[i].articleId+')" class="plain-a" >'+title+'</a>\n' +
                                    '                                    </div>\n' +
                                    '                                    <div class="card-text">\n' +
                                    '                                        <small class="text-muted">\n' +
                                    '                                            <img class="cursor" style="margin-top: -2px" src="http://127.0.0.1:8080/AnalyzeFood/image/clock-icon.svg" width="12px"/>&nbsp;&nbsp;\n' +
                                    '                                            <span>'+articles[i].createTime+'</span>\n' +
                                    '                                            <div style="float: right" class="mr-1 mt-1 align-bottom">\n' +
                                    '                                                <img class="cursor" style="margin-top: -4px" src="http://127.0.0.1:8080/AnalyzeFood/image/eye.png" width="15px"/>&nbsp;\n' +
                                    '                                                <span>'+articles[i].view+'</span>&nbsp;&nbsp;&nbsp;\n' +
                                    '                                                <img class="cursor" style="margin-top: -2px" src="http://127.0.0.1:8080/AnalyzeFood/image/comment.png" width="14px"/>&nbsp;\n' +
                                    '                                                <span>'+articles[i].commentNum+'</span>\n' +
                                    '\n' +
                                    '                                            </div>\n' +
                                    '                                        </small>\n' +
                                    '                                    </div>\n' +
                                    '                                </div>\n' +
                                    '                            </div>';

                                $('#article_page').html($('#article_page').html() + str);
                            }
                            $('#currentPage').val(data.pageNum);

                            if(data.isLastPage){
                                $('#isLastPage').val(1);
                            }
                            execute = false;
                        },
                        error: function () {
                            alert("加载出错")
                        }
                    })
                }


                $(window).scroll(function () {
                    if ($("#morePages").val() != 1) {
                        $("#bottomMore").html('<div class="offset-5">没有更多图片了。。</div>').removeClass("hide");
                    } else {

                        if (!execute) {
                            //当前滑动高度
                            var scrollTop = $(this).scrollTop();
                            //总高度
                            var scrollHeight = $(document).height();
                            //浏览器窗口高度
                            var windowHeight = $(this).height();
                            //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                            if (scrollTop + windowHeight + 320 >= scrollHeight) {
                                execute = true;
                                setTimeout(addMore, 500);
                            }
                        }
                    }
                });
            }

        });

        //分页
        function page_article(currentPage1,articleType1,roleId1,judgeTimeOrNumber1){
            var pageArticleCondition = {
                currentPage:currentPage1,
                articleType:articleType1,
                roleId:roleId1,
                judgeTimeOrNumber:judgeTimeOrNumber1
            }

            $.ajax({
                type:"post",
                url:contextPath+"/user/articlePage",
                dataType:"json",
                contentType : "application/json",
                data: JSON.stringify(pageArticleCondition),
                success:function (data){
                    var str = '';
                    var articles = data.list;
                    if(articles != undefined){
                        for(var i = 0;i < articles.length; i++){
                            var title = articles[i].title;
                            if(title.length > 16){
                                title = title.substr(0,16) + "...";
                            }
                            str +='<div class="card hoverShadow " style="padding-top: 8px;margin: 3px 1px;float: left">\n' +
                                '                                <div class="cardImgHead" >\n' +
                                '                                    <a href="javascript:void(0)"  onclick="showArticle('+articles[i].articleId+')" class="plain-a larger-img">\n' +
                                '                                        <img class="card-img-top" width="320px" height="360px"  src="'+contextPath+articles[i].pic_path+'" >\n' +
                                '                                    </a>\n' +
                                '                                </div>\n' +
                                '                                <div class="card-body border border-top-0 rounded-bottom">\n' +
                                '                                    <div class="card-text overFlowOneRow">\n' +
                                '                                        <a href="javascript:void(0)"  onclick="showArticle('+articles[i].articleId+')"  class="plain-a" >'+title+'</a>\n' +
                                '                                    </div>\n' +
                                '                                    <div class="card-text">\n' +
                                '                                        <small class="text-muted">\n' +
                                '                                            <img class="cursor" style="margin-top: -2px" src="http://127.0.0.1:8080/AnalyzeFood/image/clock-icon.svg" width="12px"/>&nbsp;&nbsp;\n' +
                                '                                            <span>'+articles[i].createTime+'</span>\n' +
                                '                                            <div style="float: right" class="mr-1 mt-1 align-bottom">\n' +
                                '                                                <img class="cursor" style="margin-top: -4px" src="http://127.0.0.1:8080/AnalyzeFood/image/eye.png" width="15px"/>&nbsp;\n' +
                                '                                                <span>'+articles[i].view+'</span>&nbsp;&nbsp;&nbsp;\n' +
                                '                                                <img class="cursor" style="margin-top: -2px" src="http://127.0.0.1:8080/AnalyzeFood/image/comment.png" width="14px"/>&nbsp;\n' +
                                '                                                <span>'+articles[i].commentNum+'</span>\n' +
                                '\n' +
                                '                                            </div>\n' +
                                '                                        </small>\n' +
                                '                                    </div>\n' +
                                '                                </div>\n' +
                                '                            </div>';

                            $('#article_page').html(str);
                        }
                    }

                    $('#currentPage').val(data.pageNum);

                    if(data.isLastPage){
                        $('#isLastPage').val(1);
                    }

                }
            });
        }

        //热门 最新
        function get_timeorhot(t){
            $('#article_page').html('');
            $('#currentPage').val(1)
            $("#morePages").val(1)
            if(!$(t).hasClass('selected-a')){
                $(".plain-a2").each(function () {
                    $(this).removeClass('selected-a')
                });
                $(t).addClass('selected-a');
            }
            var pageArticleCondition = getCondition();
            page_article(1,pageArticleCondition.articleType,pageArticleCondition.roleId,pageArticleCondition.judgeTimeOrNumber);
        }

        //文章类型
        function get_titleType(t,index) {
            $('#article_page').html('');
            $('#currentPage').val(1)
            $("#morePages").val(1)
            if($(t).hasClass('choice-now')){
                $(t).removeClass('choice-now');
            }else{
                $(".choice-a").each(function () {
                    $(this).removeClass('choice-now')
                });
                $(t).addClass('choice-now');
            }

            var pageArticleCondition = getCondition();
            page_article(1,pageArticleCondition.articleType,pageArticleCondition.roleId,pageArticleCondition.judgeTimeOrNumber);
        }

        //获取 条件
        function getCondition() {
            var currentPage = parseInt($("#currentPage").val()) + 1;

            var userId = [[${session.user.roleId}]];
            if($(this).hasClass('btn-warning')){
                userId = 0;
            }

            var articleType = 0;
            $(".choice-a").each(function (i,j) {
                if($(j).hasClass('choice-now')){
                    articleType = i + 1;
                }
            });
            var timeorhot = 0;
            $(".plain-a2").each(function (i,j) {
                if($(j).hasClass('selected-a')){
                    timeorhot = i ;
                }
            });
            var pageArticleCondition = {
                currentPage:currentPage,
                articleType:articleType,
                roleId:userId,
                judgeTimeOrNumber:timeorhot
            }
            return pageArticleCondition;
        }
        
        function showArticle(articleId) {
            window.location.href = contextPath + "/to/showArticle?articleId="+ articleId;
        }

    </script>

</head>
<body id="body">
<!--nav-->
<div th:replace="/html/top2 :: html"></div>

<div class="bgcolor">
    <div class="row">
        <div style="padding-top: 35px;width: 80%">
            <a th:href="@{/to/addArticle}" style="float: right;" class="plain-a btn btn-primary" >我要发表</a>
        </div>
        <div style="padding-top: 35px;">
            <a id="myArticle" style="float: right;margin-left: 20px" class="plain-a btn btn-warning" >我的发表</a>
        </div>
    </div>


    <div class="container bg-white shadow" >
            <div class="row pb-4">
                <div class="row col-md-10 offset-1 mt-3 ">
                    <div class="row col-md-12 font-weight-bold-cl border-bottom pb-3" >
                        <div class="col-md-3 p-0 m-0 pt-2" style="height: 50px;font-size: 30px;line-height: 50px">膳食堂</div>
                        <div class="row col-md-6 pl-5" style="padding-top: 15px;">
                        </div>
                        <div class="col-md-3  text-muted" style="padding-top: 20px;padding-left: 120px">
                            <a class="plain-a2 selected-a" href="javascript:void(0)"  onclick="get_timeorhot(this)">最新</a>  |
                            <a class="plain-a2" href="javascript:void(0)" onclick="get_timeorhot(this)" >最热</a>
                        </div>
                    </div>
                    <div class="col-md-12 p-3 border-bottom">
                        <div class="row col-md-12 ml-2 mt-1 pl-4 " >
                            <div class="col-md-2"></div>
                            <div>
                                <button class="choice-a  mr-4 choice-now" onclick="get_titleType(this,1)"> 饮食常识 </button>
                            </div>
                            <div>
                                <button class="choice-a mr-4 " onclick="get_titleType(this,2)"> 食疗食补 </button>
                            </div>
                            <div>
                                <button class="choice-a mr-4 " onclick="get_titleType(this,3)"> 瘦身美容 </button>
                            </div>
                            <div>
                                <button class="choice-a mr-4 " onclick="get_titleType(this,4)"> 人气菜肴 </button>
                            </div>
                            <div>
                                <button class="choice-a mr-4 " onclick="get_titleType(this,5)"> 其他话题 </button>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div id="article_page">

                        </div>
                    </div>

                    <input id="morePages" type="hidden" value="1">
                    <input id="currentPage" type="hidden" value="1">
                    <input id="isLastPage" type="hidden" value="0">

                    <div id="bottomMore" class="row col-md-12 text-center text-muted mt-3 pt-2 mb-2">
                        <div class="offset-5"><span class="fa fa-refresh fa-spin"></span>&nbsp;&nbsp;加载更多...</div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>