<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" th:href="@{/css/user/DietDetails.css}">
    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/user/userIndex.js}"></script>
    <script th:src="@{/js/user/dietDetail.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
        /*]]>*/
    </script>

    <script th:inline="javascript">
        $(function () {
        // ms-css-height="16-95*(DetailsInfo.Energy-DetailsInfo.REI)/DetailsInfo.REI"
            var recommendEnergy = [[${resultVo.recommendEnergy}]]
            var practicalEnergy = [[${resultVo.practicalEnergy}]]
            if(recommendEnergy > practicalEnergy){
                $('.shiguan-fill-empyt').height(16-95*(practicalEnergy - recommendEnergy) / recommendEnergy);
            }

            // energyStatistics
            var echartsMeal = echarts.init(document.getElementById('energyStatistics'));
            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                series: [
                    {
                        name: '能量统计（单位：kcal）',
                        type: 'pie',
                        radius: '72%',
                        center: ['50%', '60%'],
                        data: [
                            {value:[[${resultVo.dayZao}]], name:'早'},
                            {value:[[${resultVo.dayZhong}]], name:'中'},
                            {value:[[${resultVo.dayWan}]], name:'晚'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            echartsMeal.setOption(option);


            // nutrientStatistics
            var echartsMeal = echarts.init(document.getElementById('nutrientStatistics'));
            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                series: [
                    {
                        name: '三大营养素能量占比',
                        type: 'pie',
                        radius: '60%',
                        center: ['50%', '60%'],
                        data: [
                            {value:[[${resultVo.dayCHOPer}]], name:'碳水化合物'},
                            {value:[[${resultVo.dayProteinPer}]], name:'蛋白质'},
                            {value:[[${resultVo.dayFatPer}]], name:'脂肪'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            echartsMeal.setOption(option);

            //isLessOrMore
            $('.isLessOrMore').each(function (index) {
                var food_actualIntake = $('.food_actualIntake').eq(index).html();
                var val = $('.recommend_food_intake').eq(index).html();
                var recommendMin = val.substring(0, val.indexOf("-"));
                var recommendMax = val.substring(val.indexOf("-") + 1, val.length);

                console.log("food_actualIntake",food_actualIntake)
                console.log("recommendMin",recommendMin)
                console.log("recommendMax",recommendMax)
                if(parseFloat(food_actualIntake) < parseFloat(recommendMin)){
                    $('.isLessOrMore').eq(index).html('缺乏');
                }
                if(parseFloat(food_actualIntake) > parseFloat(recommendMax)){
                    $('.isLessOrMore').eq(index).html('过量');
                }

            });
        });
    </script>

</head>
<body class="indexBody">
<div id="body">
    <!--nav-->
    <div th:replace="/html/top :: html"></div>

    <div id="content" style="height: auto; opacity: 1;">
        <div class="DietDetails container">
            <div class="row">
                <div class="col-sm-9">
                    <!--基本信息-->
                    <div class="hr-panel">
                        <div class="hr-panel-title">
                            <span>食谱详情</span>
                            <strong class="pull-right">
                                <span th:text="${meal.mealName}"></span>
                            </strong>
                        </div>
                        <div class="hr-panel-body">
                            食谱介绍：
                            <hr class="hr-line">
                            <span th:if="${meal.description != null}" style="color:#ddd"
                                  th:text="${meal.description}"></span>
                            <span th:if="${meal.description == null}" style="color:#ddd">暂无食谱介绍……</span>
                            <br><br>
                            <!--食物清单-->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            早餐
                                        </div>
                                        <div class="hr-panel-body " th:each="mealMade:${meal.mealMades}"
                                             th:if="${mealMade.mealType} eq 0 ">
                                            <div style="margin-bottom: 5px">
                                                <div style="clear: both">
                                                    <div class="food-type">
                                                        <p class="foodtype_hidden" style="display: none"
                                                           th:text="${mealMade.food.typeId}"></p>
                                                    </div>
                                                    <span th:text="${mealMade.food.foodName}"></span>
                                                    <span class='pull-right'>
                                                    ×
                                                    <strong style="font-size: 18px">
                                                        <span th:text="${mealMade.num}"></span>
                                                    </strong>
                                                    g
                                                </span>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            中餐
                                        </div>
                                        <div class="hr-panel-body " th:each="mealMade:${meal.mealMades}"
                                             th:if="${mealMade.mealType} eq 1 ">
                                            <div style="margin-bottom: 5px">
                                                <div style="clear: both">
                                                    <div class="food-type">
                                                        <p class="foodtype_hidden" style="display: none"
                                                           th:text="${mealMade.food.typeId}"></p>
                                                    </div>
                                                    <span th:text="${mealMade.food.foodName}"></span>
                                                    <span class='pull-right'>
                                                    ×
                                                    <strong style="font-size: 18px">
                                                        <span th:text="${mealMade.num}"></span>
                                                    </strong>
                                                    g
                                                </span>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            晚餐
                                        </div>
                                        <div class="hr-panel-body " th:each="mealMade:${meal.mealMades}"
                                             th:if="${mealMade.mealType} eq 2 ">
                                            <div style="margin-bottom: 5px">
                                                <div style="clear: both">
                                                    <div class="food-type">
                                                        <p class="foodtype_hidden" style="display: none"
                                                           th:text="${mealMade.food.typeId}"></p>
                                                    </div>
                                                    <span th:text="${mealMade.food.foodName}"></span>
                                                    <span class='pull-right'>
                                                    ×
                                                    <strong style="font-size: 18px">
                                                        <span th:text="${mealMade.num}"></span>
                                                    </strong>
                                                    g
                                                </span>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--统计信息-->
                    <div class="hr-panel">
                        <div class="hr-panel-title">
                            食谱统计
                        </div>
                        <div class="hr-panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            能量统计（单位：kcal）
                                        </div>
                                        <div class="hr-panel-body">
                                            <div class="shiguan-box pull-left">

                                                <div class="shiguan-fill">
                                                    <div class="shiguan-fill-empyt"></div>

                                                </div>
                                                <i class="icon iconfont icon-shiguan"></i>
                                            </div>
                                            <div class="pull-right">
                                                推荐能量：<span th:text="${#numbers.formatDecimal(resultVo.recommendEnergy, 0, 2)}"></span><br/>
                                                实际能量：<span th:text="${#numbers.formatDecimal(resultVo.practicalEnergy, 0, 2)}"></span><br/>
                                                <span th:if="${resultVo.recommendEnergy > resultVo.practicalEnergy}">差距：</span>
                                                <span th:if="${resultVo.recommendEnergy <= resultVo.practicalEnergy}">多出：</span>
                                                <span th:if="${resultVo.recommendEnergy > resultVo.practicalEnergy}" th:text="${#numbers.formatDecimal(resultVo.recommendEnergy - resultVo.practicalEnergy, 0, 2)}"></span>
                                                <span th:if="${resultVo.recommendEnergy <= resultVo.practicalEnergy}" th:text="${#numbers.formatDecimal(resultVo.practicalEnergy - resultVo.recommendEnergy, 0, 2)}"></span>
                                                <br/>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            三餐能量统计（单位：kcal）
                                        </div>
                                        <div class="hr-panel-body">
                                            <div id="energyStatistics" style="height: 130px"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="hr-block">
                                        <div class="hr-panel-title">
                                            三大营养素能量统计
                                        </div>
                                        <div class="hr-panel-body">
                                           <div id="nutrientStatistics" style="height: 130px"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-7">
                                    <table class="table table-responsive table-bordered ">
                                        <thead>
                                        <tr>
                                            <td>食物类别</td>
                                            <td>实际摄入量</td>
                                            <td>推荐摄入量</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-1 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                谷类薯类及杂豆
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.gu}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">250.00-400.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-2 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                大豆类及坚果
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.dou}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">25.00-35.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-3 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                蔬菜类
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.shu}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">300.00-500.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-4 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                水果类
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.guo}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">200.00-350.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-5 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                畜禽肉类
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.rou}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">40.00-75.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-6 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                奶类及奶制品
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.nai}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">250.00-350.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-7 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                蛋类
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.dan}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">25.00-50.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-8 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                鱼虾类
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.yu}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">50.00-100.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-9 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                油
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.you}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">25.00-30.00</span>g</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="food-type food-type-10 select-food-type pull-left" style="display: block"></div>
                                                &nbsp;
                                                其他
                                            </td>
                                            <td>
                                                <span class="food_actualIntake" th:text="${resultVo.eachFoodVo.other}"></span>
                                                <span class="text-danger pull-right isLessOrMore"></span>
                                            </td>
                                            <td><span class="recommend_food_intake">0.00-2000.00</span>g</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-5">
                                    <table class="table table-responsive table-bordered ">
                                        <thead>
                                        <tr>
                                            <td>微量元素</td>
                                            <td>实际摄入量</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>膳食纤维(g)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_fiber}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>视黄醇当量(VA)(μgRAE)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_va}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>硫胺素(VB1)(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_vb1}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>核黄素(VB2)(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_vb2}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>烟酸(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_niacin}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>维生素E(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_ve}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>钠(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_na}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>钙(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_ca}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>铁(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_fe}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>抗坏血酸(VC)(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_vc}"></span></td>
                                        </tr>
                                        <tr>
                                            <td>胆固醇(mg)</td>
                                            <td><span th:text="${resultVo.microelementVo.day_cholesterol}"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">

                    <!--作者信息-->
                    <div class="hr-panel">
                        <div class="hr-panel-title">
                            作者
                        </div>
                        <div class="hr-panel-body">

                            <!--头像-->
                            <div class="pull-left user-head">
                                <img id="headImg" th:src="'/AnalyzeFood'+${session.user.headImg}"
                                     style="width: 100%; height: 100%;object-fit:cover;">
                            </div>

                            <div style="margin-left: 70px">
                                <h3 style="margin: 0px;">
                                    <span th:text="${session.user.name}"></span>
                                </h3>
                                年龄: <span th:if="${session.user.age != null}" th:text="${session.user.age}"></span>
                                <br>
                                性别: <span th:if="${session.user.sex != null}" th:text="${session.user.sex}"></span>
                                <br>
                                体重: <span th:if="${session.user.weight != null}"
                                          th:text="${session.user.weight}"></span>
                                <br>
                            </div>
                        </div>
                        <div class="hr-panel-footer">
                            <div class="row" style="text-align: center;color: #6E6E6E;font-size: 16px;">
                                <div class="col-sm-4" style="padding:5px 0px">
                                    <strong><span th:text="${sum}"></span></strong><br>
                                    <i class="icon iconfont icon-shipu"></i>
                                    食谱
                                </div>
                                <div class="col-sm-4" style="padding:5px 0px">
                                    <strong><span th:text="${articleSum}"></span></strong><br>
                                    <i class="icon icon-book"></i>
                                    文章
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--出售信息-->
                    <!--<div class="hr-panel">-->
                    <!--<div class="hr-panel-title">-->
                    <!--该食谱已售出 <strong>{{DetailsInfo.TotalSale}}</strong> 份-->
                    <!--</div>-->
                    <!--<div class="hr-panel-body" style="padding: 0px">-->

                    <!--&lt;!&ndash;作者看到的&ndash;&gt;-->
                    <!--<div class="DD-btn-group box-row ver-same hor-ends"-->
                    <!--ms-if="DetailsInfo.CUID==cache.go('UID')">-->
                    <!--<a ms-attr-href="#!/EditDiet/1&&{{DetailsInfo.DietID}}"-->
                    <!--style="border-right: 1px solid #dddddd">-->
                    <!--<i class="icon iconfont icon-bianji"></i>-->
                    <!--编辑-->
                    <!--</a>-->
                    <!--<a ms-attr-href="#!/EditDiet/2&&{{DetailsInfo.DietID}}">-->
                    <!--<i class="icon iconfont icon-fuzhi"></i>-->
                    <!--复制-->
                    <!--</a>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;未获取者看到的&ndash;&gt;-->
                    <!--<div class="DD-btn-group box-row ver-same hor-ends"-->
                    <!--ms-if="!DetailsInfo.Has&&DetailsInfo.CUID!=cache.go('UID')">-->
                    <!--<button style="width: 100%" ms-click="buy(DetailsInfo.DietID)">-->
                    <!--<i class="icon iconfont icon-goumai"></i>-->

                    <!--获取-->
                    <!--</button>-->
                    <!--</div>-->


                    <!--&lt;!&ndash;获取者看到的&ndash;&gt;-->
                    <!--<div class="DD-btn-group box-row ver-same hor-ends" ms-if="DetailsInfo.Has">-->
                    <!--<button style="border-right: 1px solid #dddddd">-->
                    <!--<i class="icon iconfont icon-shoucang1"></i>-->
                    <!--已获取-->
                    <!--</button>-->
                    <!--<a ms-attr-href="#!/EditDiet/2&&{{DetailsInfo.DietID}}">-->
                    <!--<i class="icon iconfont icon-fuzhi"></i>-->
                    <!--复制-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--评论信息-->
                    <!--<div class="hr-panel">-->
                    <!--<div class="hr-panel-title">-->
                    <!--<span class="pull-left">-->
                    <!--好评：-->
                    <!--<strong>-->
                    <!--{{Number(DetailsInfo.Praise)}}-->
                    <!--</strong>-->
                    <!--</span>-->
                    <!--<span class="pull-right">-->
                    <!--差评：-->
                    <!--<strong>-->
                    <!--{{Number(DetailsInfo.Bad)}}-->
                    <!--</strong>-->
                    <!--</span>-->
                    <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<div class="hr-panel-body">-->
                    <!--评论：-->
                    <!--<div style="border-bottom: 1px solid #dddddd;margin-bottom: 5px;padding: 5px 0px;"-->
                    <!--ms-repeat="CList" class="clearfix">-->
                    <!--&lt;!&ndash;头像&ndash;&gt;-->
                    <!--<div class="pull-left user-head"-->
                    <!--style="width:30px;height: 30px;margin-right: 5px"-->
                    <!--ms-css-background-image="url({{el.User.HeadImgURL}})">-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--<span ms-if="el.Level==1">好评！</span>-->
                    <!--<span ms-if="el.Level==0">差评！</span>-->
                    <!--{{el.Content}}-->
                    <!--</div>-->

                    <!--</div>-->

                    <!--<button ms-if='CT>CP*CN' class="btn btn-block btn-link"-->
                    <!--style="outline: none"-->
                    <!--ms-click="pullComment(CP+1)">更多评论-->
                    <!--</button>-->

                    <!--</div>-->
                    <!--<div class="hr-panel-footer" style="padding: 10px;"-->
                    <!--ms-if="!DetailsInfo.IsCommented&&DetailsInfo.Has">-->
                    <!--&lt;!&ndash;输入框&ndash;&gt;-->
                    <!--<textarea class="form-control" placeholder="输入食谱评价" ms-duplex="Content">-->

                    <!--</textarea>-->
                    <!--&lt;!&ndash;获取者看到的&ndash;&gt;-->
                    <!--<div class="DD-btn-group box-row ver-same hor-ends"-->
                    <!--style="margin:10px -10px -10px -10px;border-top: 1px solid #dddddd;">-->
                    <!--<button style="border-right: 1px solid #dddddd;background-color: transparent"-->
                    <!--ms-click="Comment(0)">-->
                    <!--<i class="icon iconfont icon-shoucang1"></i>-->
                    <!--差评-->
                    <!--</button>-->
                    <!--<button style=";background-color: transparent" ms-click="Comment(1)">-->
                    <!--<i class="icon iconfont icon-shoucang1"></i>-->
                    <!--好评-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    $(function () {
        $('.foodtype_hidden').each(function () {
            var foodClass = getFoodClass($(this).text());
            $(this).parent().addClass(foodClass);
        });

    });
</script>
</html>