<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/user/userIndex.js}"></script>
</head>
<body class="indexBody">
<div id="body">
    <!--nav-->
    <div th:replace="/html/top :: html"></div>

    <div id="content" style="height: auto; opacity: 1;">
        <div style=" position: relative;">
            <!--背景图-->
            <div class="home-bg headback" th:style="'background:'+ 'linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,255,255,0)),url(/AnalyzeFood'+${session.userZone.backgroundImg}+') repeat-y;'+'background-size:'+'100%'"></div>

            <div class="container" style="height: 130px;text-align: center;padding-top: 40px">

                <!--模态框 uploadbackground-->
                <button class="btn-edit-bg" data-toggle="modal" data-target="#uploadbackground">
                    <i class="icon iconfont icon-xiangji"></i>
                    &nbsp;&nbsp;编辑背景图片
                </button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--资料卡-->
                        <div class="hr-panel" slot="dom">
                            <div class="hr-panel-body"
                                 style="padding: 0px;background-color: rgba(255,255,255,0.85);">

                                <!--模态框 myModal_edit-->
                                <button type="button" class="btn btn-primary"
                                        style="position: absolute; top: -10px; right: 30px; z-index: 1;"
                                        data-toggle="modal" data-target="#myModal_edit">
                                    编辑
                                </button>
                                <div class="row">
                                    <div class="col-sm-2" style="overflow: hidden;height: 166px;">
                                        <!--头像-->
                                        <div class="coach-head">
                                            <img id="headImg" th:src="'/AnalyzeFood'+${session.user.headImg}" style="width: 100%; height: 100%;object-fit:cover;">
                                            <!--模态框 uploadHeadImg-->
                                            <button class="btn-edit-head" style="width: 100%; position: absolute; bottom: 0px;" data-toggle="modal" data-target="#uploadHeadImg">
                                                编辑头像
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h3 style="margin-top: 10px">
                                            <span th:if="${session.user.name!=null}" th:text="${session.user.name}"></span>
                                            <span th:unless="${session.user.name!=null}" th:text="小吃瓜群众"></span>
                                        </h3>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div style="line-height: 1.1">
                                                    <!--<span></span><br>-->
                                                    <!--现居住地：绵阳市青龙大道59号<br>-->
                                                    <!--任教时间：2016-06-25<br>-->
                                                    注册时间：<span th:text="${#dates.format(session.user.createTime,'yyyy-MM-dd')}"></span><br>

                                                    <!--<br>-->
                                                    联系电话：<span th:text="${session.user.phone}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-panel-footer coach-card-footer">
                                <div class="row">
                                    <!--<div class="col-sm-4">-->
                                    <!--<i class="icon iconfont icon-qianzaixueyuan"></i>-->
                                    <!--累计会员 <strong>18</strong> 位-->
                                    <!--</div>-->
                                    <div class="col-sm-4">
                                        <i class="icon iconfont icon-shipu"></i>
                                        创建食谱 <strong>27</strong> 份
                                    </div>
                                    <!--<div class="col-sm-4">-->
                                    <!--<i class="icon iconfont icon-temai"></i>-->
                                    <!--累积售出 <strong>3</strong> 份-->
                                    <!--</div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--url-->
                <div class="home-tab-nav">
                    <a href="javascript:void(0);" class="mealClass nowTab" onclick="toChangePage(1,this)">我的食谱</a>
                    <!--ms-if-->
                    <a href="javascript:void(0);" class="mealClass" onclick="toChangePage(2,this)">膳食分析</a>
                </div>


                <div id="mealAnalyze" style="display: none">
                    123
                </div>


            </div>

        </div>
    </div>


    <!--<div class="footer">-->
    <!--<div class="container text-center" style="color:#8b8b8b ;padding:10px;margin-top:50px">-->
    <!--©碳蛋知&#45;&#45;让营养食谱成为健身计划的标配-->
    <!--<hr>-->
    <!--</div>-->
    <!--</div>-->
</div>


<div id="centerContent" style="display:none">操作成功！</div>

<!-- 模态框 (编辑按钮) -->
<div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center">
                    个人信息
                </h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-inline" id="edit_user_form">
                    <div style="width: 650px">
                        <div class="row">
                            <input type="hidden" name="roleId" th:value="${session.user.roleId}"/>

                            <!--昵称-->
                            <div class="col-md-4">
                                昵称
                                <input type="text" class="form-control" name="roleAccount" th:value="${session.user.roleAccount}">
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--性别-->
                            <div class="col-md-4">
                                性别
                                <select type="text" class="form-control" name="sex" style="width: 200px">
                                    <option value="男" th:selected="${session.user.sex eq '男'}">男</option>
                                    <option value="女" th:selected="${session.user.sex eq '女'}">女</option>
                                </select>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <!--真实姓名-->
                            <div class="col-md-4">
                                真实姓名
                                <input type="text" class="form-control" name="name" th:value="${session.user.name}">
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--年龄-->
                            <div class="col-md-4">
                                年龄
                                <input type="text" class="form-control" name="age" th:value="${session.user.age}">
                                <br>
                            </div>

                        </div>
                        <div class="row">
                            <!--联系电话-->
                            <div class="col-md-4">
                                联系电话
                                <input type="tel" class="form-control" name="phone" th:value="${session.user.phone}" disabled>
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--体重-->
                            <div class="col-md-4">
                                体重(斤)
                                <input type="text" class="form-control" name="weight" th:value="${session.user.weight}">
                                <br>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="edit_user_btn">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!--背景图-->
<div class="modal fade" id="uploadbackground" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadLabel">上传背景图片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  id="uploadBackgroundForm" enctype="multipart/form-data" name="form1" method="post">
                <div class="modal-body" style="text-align: center; ">
                    <div class="" >
                        <img id="newImg" th:src="'/AnalyzeFood'+${session.userZone.backgroundImg}"  width="764px" />
                    </div>
                    <div class=" mt-2">
                        <input type="file" class="myFileUpload mt-3" name="file" id="backfile" value="" style="display:none;" >
                        <input class="btn btn-success" type="button" value="选择图片" onclick="document.form1.file.click()">
                    </div>
                    <div class="mt-2 offset-5 hide" id="uploadingBackImg">
                        <span class="fa fa-spinner fa-pulse " style="font-size: 17px"></span> 图片上传中...
                    </div>
                    <div class="mt-2 offset-5 text-danger hide " id="uploadBackImgErr">
                        <span class="fa fa-exclamation-circle text-danger hide " style="font-size: 17px"></span> 请先上传文件
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeUploadBackImg" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="uploadbackImg($(this))">确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--头像-->
<div class="modal fade" id="uploadHeadImg" tabindex="-2" role="dialog" aria-labelledby="uploadhead" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadhead">上传头像</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" enctype="multipart/form-data" id="uploadHeadImgForm" name="form2" method="post">
                <div class="modal-body" style="text-align: center; ">
                    <div class="offset-2" >
                        <img class="rounded-circle" id="newHeadImg" th:src="'/AnalyzeFood'+${session.user.headImg}" width="300px" height="300px" />
                    </div>
                    <div class="mt-2" style="margin-top: 20px">
                        <input type="file" class="myFileUpload mt-3" name="file" id="headfile" value="" style="display:none;" >
                        <input class="btn btn-success" type="button" value="选择图片" onclick="document.form2.file.click()">
                    </div>
                    <div class="mt-2 offset-4 hide" id="uploadingHeadImg">
                        <span class="fa fa-spinner fa-pulse" style="font-size: 17px"></span> 头像上传中...
                    </div>
                    <div class="mt-2 offset-4 text-danger hide" id="uploadHeadImgErr">
                        <span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请先上传文件
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeUploadHead" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="uploadHeadImg($(this))">确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>