
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1487044399179'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1487044399179#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1487044399179') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1487044399179') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1487044399179#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
icon-bianji:before { content: "\3486"; }

.icon-touxiang:before { content: "\e600"; }

.icon-shoucang:before { content: "\e7c6"; }

.icon-shoucang1:before { content: "\e604"; }

.icon-zhanghuyue:before { content: "\e60e"; }

.icon-zhuce:before { content: "\e697"; }

.icon-zhengshuguanli:before { content: "\e902"; }

.icon-fuzhi:before { content: "\e636"; }

.icon-qianzaixueyuan:before { content: "\e634"; }

.icon-shangyiye:before { content: "\e614"; }

.icon-xueyuanguanli:before { content: "\e6d2"; }

.icon-shipu:before { content: "\e68f"; }

.icon-zhengshu:before { content: "\e70f"; }

.icon-temai:before { content: "\e625"; }

.icon-goumai:before { content: "\e60b"; }

.icon-iconfontjiarushaidan:before { content: "\e62c"; }

.icon-shangyiye1-copy:before { content: "\e619"; }

.icon-xiangji:before { content: "\e6eb"; }

.icon-zhengshu1:before { content: "\e670"; }

.icon-shiguan:before { content: "\e6da"; }

.icon-zhengshu2:before { content: "\e8a9"; }

.icon-zhengshu3:before { content: "\e8f3"; }

.icon-zhengshu4:before { content: "\e601"; }

/*证书*/

.cf-logo-1:before { content: "\e670"; }

.cf-logo-2:before { content: "\e6da"; }

.cf-logo-3:before { content: "\e8a9"; }

.cf-logo-4:before { content: "\e8f3"; }

.cf-logo-5:before { content: "\e601"; }

