<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.analyzefood.mapper.InformMapper">
    <insert id="insertInform" parameterType="com.cs.analyzefood.entity.InformEvent">
        insert into inform_event(n_type,s_content,n_roleId,d_createTime,n_status)
        values (#{type},#{content},#{roleId},#{createTime},1)
    </insert>

    <update id="updateInformStatus">
        update inform_event set n_status = 0 where n_id = #{param1}
    </update>

    <select id="selectEventsByRoleId" resultType="com.cs.analyzefood.entity.InformEvent">
        select n_id id,n_type type,s_content content,n_roleId roleId,d_createTime createTime from inform_event where n_roleId = #{param1} and n_status = 1
    </select>
</mapper>