<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.analyzefood.mapper.ManageMapper">
    <insert id="insertFood" useGeneratedKeys="true" keyProperty="foodId" parameterType="com.cs.analyzefood.entity.Food">
      insert into food_info(s_foodName,n_typeId,n_eat_part,n_energy,n_moisture,n_protein,n_fat,n_fiber,n_carbohydrate,n_va,n_vb1,n_vb2,n_niacin,n_ve,n_Na,n_Ca,n_Fe,n_vc,n_cholesterol,n_delFlag)
      VALUES (#{foodName}, #{typeId}, #{eat_part}, #{energy}, #{moisture}, #{protein}, #{fat}, #{fiber}, #{carbohydrate}, #{va}, #{vb1}, #{vb2}, #{niacin}, #{ve}, #{na}, #{ca}, #{fe}, #{vc}, #{cholesterol},1);
    </insert>


    <update id="updateFoodFlag">
        update food_info set n_delFlag = 0 where n_foodId =#{param1}
    </update>

    <update id="updateFoodById">
        update food_info set s_foodName=#{foodName},n_typeId=#{typeId},n_eat_part=#{eat_part},n_energy=#{energy} ,n_moisture=#{moisture} ,
        n_protein=#{protein} ,n_fat=#{fat} ,n_fiber=#{fiber} ,n_carbohydrate=#{carbohydrate} ,n_va=#{va} ,n_vb1=#{vb1} ,n_vb2=#{vb2} ,n_niacin=#{niacin} ,
        n_ve=#{ve} ,n_Na=#{na} ,n_Ca=#{ca} ,n_Fe=#{fe} ,n_vc=#{vc} ,n_cholesterol=#{cholesterol}
        where n_foodId = #{foodId}
    </update>


    <select id="selectFood" resultType="com.cs.analyzefood.entity.Food">
        select n_foodId foodId, s_foodName foodName,n_typeId typeId,n_eat_part eat_part,n_energy energy,n_moisture moisture,
        n_protein protein,n_fat fat,n_fiber fiber,n_carbohydrate carbohydrate,n_va va,n_vb1 vb1,n_vb2 vb2,n_niacin niacin,
        n_ve ve,n_Na na,n_Ca ca,n_Fe fe,n_vc vc,n_cholesterol cholesterol
        from food_info where n_delFlag = 1
    </select>


    <select id="selectPageFood" resultType="com.cs.analyzefood.entity.Food">
        select n_foodId foodId, s_foodName foodName,n_typeId typeId,n_eat_part eat_part,n_energy energy,n_moisture moisture,
        n_protein protein,n_fat fat,n_fiber fiber,n_carbohydrate carbohydrate,n_va va,n_vb1 vb1,n_vb2 vb2,n_niacin niacin,
        n_ve ve,n_Na na,n_Ca ca,n_Fe fe,n_vc vc,n_cholesterol cholesterol
        from food_info where n_delFlag = 1 limit #{param1},#{param2}
    </select>

    <select id="selectFoodType" resultType="com.cs.analyzefood.entity.FoodType">
        select n_typeId typeId,n_number number,s_typeName typeName from food_type
    </select>

    <select id="selectFoodByFoodId" resultType="com.cs.analyzefood.entity.Food">
        select n_foodId foodId, s_foodName foodName,n_typeId typeId,n_eat_part eat_part,n_energy energy,n_moisture moisture,
        n_protein protein,n_fat fat,n_fiber fiber,n_carbohydrate carbohydrate,n_va va,n_vb1 vb1,n_vb2 vb2,n_niacin niacin,
        n_ve ve,n_Na na,n_Ca ca,n_Fe fe,n_vc vc,n_cholesterol cholesterol
        from food_info where n_delFlag = 1 and n_foodId = #{param1}
    </select>

    <select id="selectFoodForSearch" resultType="com.cs.analyzefood.entity.Food">
        select n_foodId foodId, s_foodName foodName,n_typeId typeId,n_eat_part eat_part,n_energy energy,n_moisture moisture,
        n_protein protein,n_fat fat,n_fiber fiber,n_carbohydrate carbohydrate,n_va va,n_vb1 vb1,n_vb2 vb2,n_niacin niacin,
        n_ve ve,n_Na na,n_Ca ca,n_Fe fe,n_vc vc,n_cholesterol cholesterol
        from food_info where n_delFlag = 1 and instr(s_foodName, #{param1})>0
    </select>

    <select id="selectFoodByName" resultType="com.cs.analyzefood.entity.Food">
        select n_foodId foodId from food_info where n_delFlag = 1 and s_foodName = #{param1}
    </select>

    <select id="selectUser" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId,s_roleAccount roleAccount,s_name name,s_password password,n_age age,n_weight weight, s_sex sex,s_phone phone,d_createTime createTime,s_headImg headImg, n_onlineFlag onlineFlag
        from user_info
    </select>
    <select id="selectPageUser" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId,s_roleAccount roleAccount,s_name name,s_password password,n_age age,n_weight weight, s_sex sex,s_phone phone,d_createTime createTime,s_headImg headImg, n_onlineFlag onlineFlag
        from user_info limit #{param1},#{param2}
    </select>

    <select id="selectUserForSearch" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId,s_roleAccount roleAccount,s_name name,s_password password,n_age age,n_weight weight, s_sex sex,s_phone phone,d_createTime createTime,s_headImg headImg, n_onlineFlag onlineFlag
        from user_info where instr(n_roleId, #{param1}) > 0 or instr(s_roleAccount, #{param1}) > 0 or instr(s_name, #{param1}) > 0 or instr(s_phone, #{param1}) > 0
    </select>


</mapper>