<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.analyzefood.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.cs.analyzefood.entity.User">
        insert into user_info(s_roleAccount,s_password,s_phone,d_createTime,s_headImg,n_onlineFlag)
        values (#{roleAccount},#{password},#{phone},#{createTime},#{headImg},1)
    </insert>


    <update id="updateUserOnlineFlag">
        update user_info set n_onlineFlag = #{param2} where n_roleId = #{param1}
    </update>

    <update id="updateUserPwd">
        update user_info set s_password = #{param2} where s_phone = #{param1}
    </update>

    <select id="selectUserByPhone" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId from user_info where s_phone = #{param1}
    </select>
    <select id="selectUserById" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId,s_roleAccount roleAccount,s_name name,s_password password,n_age age,n_weight weight, s_sex sex,s_phone phone,d_createTime createTime,s_headImg headImg, n_onlineFlag onlineFlag
        from user_info where n_roleId = #{param1}
    </select>

    <select id="selectUserByPhoneAndPwd" resultType="com.cs.analyzefood.entity.User">
        select n_roleId roleId,s_roleAccount roleAccount,s_name name,s_password password,n_age age,n_weight weight, s_sex sex,s_phone phone,d_createTime createTime,s_headImg headImg, n_onlineFlag onlineFlag
        from user_info where s_phone = #{param1} and s_password = #{param2}
    </select>
</mapper>