<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>CMS</title>

    <link rel="stylesheet"  th:href="@{/layui/css/layui.css}" media="all" />
    <style >
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
    </style>

    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/manage/addFood.js}"></script>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;" id="addFoodForm">
    <div class="layui-form-item">
        <label class="layui-form-label">食物名称:</label>
        <div class="layui-input-block">
            <input type="text" name="foodName" class="layui-input" lay-verify="required" placeholder="请输入食物名称">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">食物类型:</label>
        <div class="layui-input-block">
            <select name="typeId" class="typeId" lay-filter="typeId">
                <option value="11" selected>谷类</option>
                <option value="21">豆类</option>
                <option value="31">蔬类</option>
                <option value="41">果类</option>
                <option value="51">肉类</option>
                <option value="53">乳类</option>
                <option value="54">蛋类</option>
                <option value="61">鱼类</option>
                <option value="81">油类</option>
                <option value="82">另类</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">可食部分</label>
            <div class="layui-input-block">
                <input type="text" name="eat_part" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">能量</label>
            <div class="layui-input-block">
                <input type="text" name="energy" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">水分</label>
            <div class="layui-input-block">
                <input type="text" name="moisture" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">蛋白质</label>
            <div class="layui-input-block">
                <input type="text" name="protein" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">脂肪</label>
            <div class="layui-input-block">
                <input type="text" name="fat" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">膳食纤维</label>
            <div class="layui-input-block">
                <input type="text" name="fiber" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">碳水化合物</label>
            <div class="layui-input-block">
                <input type="text" name="carbohydrate" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">维生素A</label>
            <div class="layui-input-block">
                <input type="text" name="va" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">维生素B1</label>
            <div class="layui-input-block">
                <input type="text" name="vb1" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">维生素B2</label>
            <div class="layui-input-block">
                <input type="text" name="vb2" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">烟酸</label>
            <div class="layui-input-block">
                <input type="text" name="niacin" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">维生素E</label>
            <div class="layui-input-block">
                <input type="text" name="ve" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">钠</label>
            <div class="layui-input-block">
                <input type="text" name="na" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">钙</label>
            <div class="layui-input-block">
                <input type="text" name="ca" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">铁</label>
            <div class="layui-input-block">
                <input type="text" name="fe" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">维生素C</label>
            <div class="layui-input-block">
                <input type="text" name="vc" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">胆固醇</label>
            <div class="layui-input-block">
                <input type="text" name="cholesterol" class="layui-input" lay-verify="required" value="0">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addFood" id="addFoodSub">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>