<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet"  th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />

    <style>
        .layui-table,.layui-table th{
            text-align:center;
            font-size: 14px;
        }
        .layui-table td{
            font-size: 12px;
        }
        .layui-table td, .layui-table th{
            padding:9px 10px;
        }
        .layui-form-checkbox[lay-skin=primary] i {
            width: 12px;
            height: 12px;
            line-height: 12px;
        }
        .
        #page{ text-align:right; }
    </style>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/manage/allFood.js}"></script>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
        </div>
        <a class="layui-btn search_btn">查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal usersAdd_btn">添加食物</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
    </div>

    <div>
        <!--上传文件-->
    </div>
</blockquote>
<div class="layui-form food_list">
    <table class="layui-table">
        <colgroup>
            <col >
            <col width="8%">
            <col width="4%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="8%">
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" ></th>
            <th>名称</th>
            <th>类型</th>
            <th>可食部分</th>
            <th>能量</th>
            <th>水分</th>
            <th>蛋白质</th>
            <th>脂肪</th>
            <th>膳食纤维</th>
            <th>碳水化合物</th>
            <th>维A</th>
            <th>维B1</th>
            <th>维B2</th>
            <th>烟酸</th>
            <th>维E</th>
            <th>钠</th>
            <th>钙</th>
            <th>铁</th>
            <th>维C</th>
            <th>胆固醇</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="food_content"></tbody>
    </table>
</div>
<div id="page"></div>

</body>
</html>