<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>CMS</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet"  th:href="@{/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<!--<link rel="stylesheet" href="../../css/user.css" media="all" />-->

	<style>
		.layui-table,.layui-table th{ text-align:center; }
		/*子页面样式*/
		.childrenBody{ margin:10px 10px 0; }
		.layui-table td, .layui-table th{ word-break:break-all; }
		/*文字选中背景色*/
		::selection{background:#ff5722; color:#fff;}
		/*表格中的操作按钮样式问题*/
		.layui-table .layui-btn, .layui-table .layui-btn+.layui-btn{ margin:2px 5px; }
		.layui-inline{ margin:5px 5px 5px 0; }
	</style>
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/manage/allUsers.js}"></script>

</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>
	</blockquote>
	<div class="layui-form users_list">
	  	<table class="layui-table" id="user_table_id" lay-filter="user_table">

		</table>
	</div>
	<script type="text/html" id="bar">
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">发送通知信息</a>
	</script>

	<script type="text/html" id="sexTpl">
		{{#  if(d.sex === '女'){ }}
		<span style="color: #F581B1;">{{ d.sex }}</span>
		{{#  } else { }}
		{{ d.sex }}
		{{#  } }}
	</script>
    <script type="text/html" id="onlineTpl">
		{{#  if(d.onlineFlag == 1){ }}
		<span style="color: #F581B1;">在线</span>
		{{#  } else { }}
        <span style="color: grey">不在线</span>
		{{#  } }}
	</script>

</body>
</html>