<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index/Home.css}">
    <link rel="stylesheet" th:href="@{/css/index/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/index/layout.css}">
    <link rel="stylesheet" th:href="@{/css/index/local.css}">
    <link rel="stylesheet" th:href="@{/css/index/pager.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">


    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

    <style>
        .indexBody {
            overflow: hidden scroll;
            margin-right: 0px;
        }

        .nav_top {
            margin-bottom: 0px;
            background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
        }

        .nav_a_style {
            padding: 10px 20px;
            font-size: 1.5em
        }

    </style>


</head>
<body class="indexBody">
<div>
    <div id="body" style="">
        <!-- topNav-->
        <nav class="navbar navbar-default nav_top">
            <div class="container">
                <div>
                    <ul class="nav nav-pills ">
                        <!--<li>-->
                        <!--<img src="src/images/logo-nav.png" alt="" height="50px">-->
                        <!--</li>-->
                        <li>
                            <span class="navbar-brand" style="color:#00ad3d">
                                碳蛋知
                            </span>
                        </li>

                        <!--url-->
                        <li class="now">
                            <a class="nav_a_style"
                               href="https://www.tandanzhi.com/index.html#!/Home/0&amp;&amp;&amp;&amp;">
                                我的主页
                            </a>
                        </li>
                        <li>
                            <a class="nav_a_style"
                               href="https://www.tandanzhi.com/index.html#!/DietList/1&amp;&amp;&amp;&amp;">
                                食谱库
                            </a>
                        </li>
                        <li>
                            <a class="nav_a_style"
                               href="https://www.tandanzhi.com/index.html#!/FoodList/1&amp;&amp;&amp;&amp;">
                                食物成分表
                            </a>
                        </li>
                        <li class="pull-right">
                        </li>
                        <li class="pull-right">
                            <a style="font-size: 14px;line-height: 30px;display: inline-block">
                                <i class="icon icon-cog">&nbsp;&nbsp;</i>测试2</a>
                            <ul class="dropdown-menu" style="display: none;">
                                <li><a href="https://www.tandanzhi.com/index.html#!/PWDEdit/27">修改密码</a></li>
                            </ul>

                            <a style="padding:10px ;font-size: 14px;line-height: 30px;cursor: pointer;display: inline-block">登出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content" style="height: auto; opacity: 1;">
            <div style=" position: relative;">
                <!--背景图-->
                <div class="home-bg"
                     style="background-image: url(&quot;http://tdz.ufile.ucloud.com.cn/27/2017-03-22/58d1ff2794a63.jpg&quot;);"></div>
                <div class="container" style="height: 130px;text-align: center;padding-top: 40px">
                    <button class="btn-edit-bg" style="">
                        <i class="icon iconfont icon-xiangji"></i>
                        &nbsp;&nbsp;编辑背景图片
                    </button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--资料卡-->
                            <div class="hr-panel" slot="dom">
                                <div class="hr-panel-body"
                                     style="padding: 0px;background-color: rgba(255,255,255,0.85);">

                                    <button type="button" class="btn btn-primary"
                                            style="position: absolute; top: -10px; right: 30px; z-index: 1;"
                                            data-toggle="modal" data-target="#myModal_edit">
                                        编辑
                                    </button>
                                    <div class="row">
                                        <div class="col-sm-2" style="overflow: hidden;height: 166px;">
                                            <!--头像-->
                                            <div class="coach-head"
                                                 style="background-image: url(&quot;http://tdz.ufile.ucloud.com.cn/27/2017-01-14/587984b27e2df.png&quot;);">
                                                <button class="btn-edit-head"
                                                        style="width: 100%; position: absolute; bottom: 0px;">
                                                    编辑头像
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 style="margin-top: 10px">
                                                用户名
                                                <small>教练</small>
                                            </h3>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div style="line-height: 1.1">
                                                        所属俱乐部：碳蛋知<br>
                                                        现居住地：绵阳市青龙大道59号<br>
                                                        任教时间：2016-06-25<br>
                                                        注册时间：2016-06-26<br>

                                                        <br>
                                                        <span>
                                                联系电话：18780567107<br>
                                            </span>
                                                        电子邮箱：1948994619@qq.com<br>
                                                    </div>
                                                </div>
                                                <!--<div class="col-sm-6">-->
                                                <!--介绍：dsddf-->
                                                <!--<br>-->

                                                <!--<div>-->
                                                <!--碳蛋知证书：-->
                                                <!--<a class="btn btn-link"-->
                                                <!--href="https://www.tandanzhi.com/index.html#!/Certificate/27&amp;&amp;0">-->
                                                <!--更多证书-->
                                                <!--<i class="icon-angle-right"></i>-->
                                                <!--</a>-->
                                                <!--<div class="box-row">-->
                                                <!--&lt;!&ndash;repeat4471073743254:start&ndash;&gt;<a class="home-cf"-->
                                                <!--href="https://www.tandanzhi.com/index.html#!/Certificate/27&amp;&amp;1">-->
                                                <!--<i class="iconfont cf-logo-1"></i>-->
                                                <!--健身营养配餐原理&amp;实操-->
                                                <!--</a>&lt;!&ndash;repeat4471073743254&ndash;&gt;&lt;!&ndash;repeat4471073743254:end&ndash;&gt;-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-panel-footer coach-card-footer">
                                    <div class="row">
                                        <!--<div class="col-sm-4">-->
                                        <!--<i class="icon iconfont icon-qianzaixueyuan"></i>-->
                                        <!--累计会员 <strong>18</strong> 位-->
                                        <!--</div>-->
                                        <div class="col-sm-4">
                                            <i class="icon iconfont icon-shipu"></i>
                                            创建食谱 <strong>27</strong> 份
                                        </div>
                                        <!--<div class="col-sm-4">-->
                                        <!--<i class="icon iconfont icon-temai"></i>-->
                                        <!--累积售出 <strong>3</strong> 份-->
                                        <!--</div>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--url-->
                    <div class="home-tab-nav">
                        <!--<a href="https://www.tandanzhi.com/index.html#!/Home/27&amp;&amp;member&amp;&amp;1&amp;&amp;&amp;&amp;0_1"-->
                        <!--class="" style="">我的会员</a>-->
                        <a href="https://www.tandanzhi.com/index.html#!/Home/27&amp;&amp;myDiet&amp;&amp;1&amp;&amp;&amp;&amp;"
                           class="nowTab">我的食谱</a>
                        <!--ms-if-->
                        <a href="https://www.tandanzhi.com/index.html#!/Home/27&amp;&amp;buyedDiet&amp;&amp;1&amp;&amp;&amp;&amp;"
                           style="">膳食分析</a>
                    </div>


                    <!--分页内容-食谱-->
                    <div style="">
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <a href="https://www.tandanzhi.com/index.html#!/EditDiet/0"
                                   class="btn btn-success btn-block">创建食谱</a>
                            </div>
                            <div class="col-md-6">
                                <br>
                                <input type="text" class="form-control" placeholder="输入关键词或能量总和"
                                       aria-describedby="basic-addon2">
                            </div>
                            <div class="col-md-4">
                                <br>
                                <div class="pull-right" style="padding-top:8px">
                                    <tsy:select config="$selectDL">
                                        <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-default">
                                                <span>全选</span>
                                                <span style="display: none;">反选</span>
                                            </button>
                                            <!--repeat041133142836:start-->
                                            <button class="btn btn-default">
                                                减脂
                                            </button><!--repeat041133142836-->
                                            <button class="btn btn-default">
                                                增肌
                                            </button><!--repeat041133142836-->
                                            <button class="btn btn-default">
                                                塑型
                                            </button><!--repeat041133142836--><!--repeat041133142836:end-->
                                        </div>
                                    </tsy:select>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!--repeat492404121484:start-->
                        <div class="hr-panel" style="margin-bottom: 20px">
                            <div class="hr-panel-body" style="padding:10px">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <strong>减脂食谱&nbsp;</strong>


                                                        <span style="color:#e14045;font-size: 18px">3</span>
                                                        售出
                                                    </div>
                                                    <div class="col-sm-4 text-center">
                                                        作者：
                                                        <a href="https://www.tandanzhi.com/index.html#!/Home/27">
                                                            测试2
                                                        </a>
                                                        <small>（我自己）</small>


                                                    </div>
                                                    <div class="col-sm-4 text-right">
                                                        2016-09-01
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-panel-body"
                                                 style="padding:10px;;height: 80px;overflow: auto;">
                                                <strong>食谱名称显</strong><br>
                                                22dddddddddddddddddd
                                                <!--ms-if-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                能量统计(单位：kcal)
                                            </div>
                                            <div class="hr-panel-body" style="padding:10px">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        目标能量：2000.00<br>
                                                        实际能量：480.00<br>
                                                        差距：1520.00<br>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        早餐：92.00<br>
                                                        午餐：388.00<br>
                                                        晚餐：0.00<br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                早餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal">
                                                <!--repeat255449213369:start-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-2"></div>
                                                        豆奶
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">30</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-3"></div>
                                                        茄子
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">50</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-1"></div>
                                                        煮面条
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">50</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-7"></div>
                                                        鸡蛋白
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">30</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat255449213369-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat255449213369--><!--repeat255449213369:end-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                午餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal">
                                                <!--repeat76111041851:start-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <!--ms-if-->

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-1"></div>
                                                        蒸籼米饭
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">150</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-5"></div>
                                                        猪肉香肠
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">50</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat76111041851-->
                                                <div>
                                                    <div style="clear: both">
                                                        <div class="food-type food-type-3"></div>
                                                        菠菜
                                                        <span class="pull-right">
                                        ×
                                    <strong style="font-size: 18px">300</strong>
                                    g 正餐 &nbsp;&nbsp;&nbsp;
                                    </span>

                                                    </div>

                                                </div><!--repeat76111041851--><!--repeat76111041851:end-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                晚餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal">
                                                <!--repeat99463939297:start-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297-->
                                                <div>
                                                    <!--ms-if-->
                                                </div><!--repeat99463939297--><!--repeat99463939297:end-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <!--操作按钮-->
                                <div>
                                    <button id="editUserBtn" class="btn btn-info " style="width: 120px">
                                        编辑
                                    </button>
                                    <a class="btn btn-default " style="width: 120px"
                                       href="https://www.tandanzhi.com/index.html#!/EditDiet/2&amp;&amp;46">
                                        复制
                                    </a>
                                    <a class="btn btn-default  pull-right" style="width: 120px"
                                       href="https://www.tandanzhi.com/index.html#!/DietDetails/46">
                                        详情
                                    </a>
                                </div>

                            </div>
                        </div><!--repeat492404121484-->

                        <!--分页-->
                        <tsy:pager config="$DPager">
                            <div class="tsy-pager">
                                <div class="tsy-pager-pre" style="display: none;">
                                    上一页
                                </div>

                                <!--repeat85113288884:start-->
                                <div class="tsy-pager-list tsy-pager-now">
                                    1
                                </div><!--repeat85113288884-->
                                <div class="tsy-pager-list">
                                    2
                                </div><!--repeat85113288884-->
                                <div class="tsy-pager-list">
                                    3
                                </div><!--repeat85113288884-->
                                <div class="tsy-pager-list">
                                    4
                                </div><!--repeat85113288884-->
                                <div class="tsy-pager-list">
                                    5
                                </div><!--repeat85113288884-->
                                <div class="tsy-pager-list">
                                    6
                                </div><!--repeat85113288884--><!--repeat85113288884:end-->

                                <div class="tsy-pager-pre" style="">
                                    下一页
                                </div>
                                <div class="tsy-pager-t">
                                    共27条数据,共6页
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </tsy:pager>

                    </div>
                </div>

            </div>
        </div>


        <!--<div class="footer">-->
        <!--<div class="container text-center" style="color:#8b8b8b ;padding:10px;margin-top:50px">-->
        <!--©碳蛋知&#45;&#45;让营养食谱成为健身计划的标配-->
        <!--<hr>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!-- 模态框 (编辑按钮) -->
<div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center">
                    个人信息
                </h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-inline">
                    <div>
                        <div class="row">
                            <!--姓名-->
                            <div class="col-sm-4">
                                姓名
                                <input type="text" class="form-control" ms-duplex="data.Name">
                                <br>
                            </div>
                            <!--性别-->
                            <div class="col-sm-4">
                                性别
                                <select type="text" class="form-control"  ms-duplex="data.Sex">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                                <br>
                            </div>

                            <!--地址-->
                            <div class="col-sm-4">
                                地址
                                <input type="text" class="form-control"  ms-duplex="data.Address">
                                <br>
                            </div>
                            <!--任教时间-->
                            <div class="col-sm-4">
                                任教时间
                                <input type="date" class="form-control"  ms-duplex="data.StartTime">
                                <br>
                            </div>
                            <!--联系电话-->
                            <div class="col-sm-4">
                                联系电话
                                <input type="tel" class="form-control"  ms-duplex="data.Tel" disabled>
                                <br>
                            </div>
                            <!--电子邮箱-->

                            <div class="col-sm-4">
                                电子邮箱
                                <input type="email" class="form-control"  ms-duplex="data.Email" >
                                <br>
                            </div>
                            <!--介绍-->
                            <div class="col-sm-12">
                                介绍
                                <textarea type="text" class="form-control"  ms-duplex="data.Introduce"></textarea>
                                <br>
                            </div>
                        </div>
                        <!--<button class="btn btn-success " ms-click="save">保存修改</button>-->
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="dz_a">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>