<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>

    <script th:src="@{/bootstrap/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/user/userIndex.js}"></script>
    <script th:src="@{/js/user/dietDetail.js}"></script>
    <script th:src="@{/js/echarts.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
        /*]]>*/
    </script>

    <script th:inline="javascript">

        function userAddMeal(){
            $.ajax({
                type: "POST",
                dataType: "json",
                url: contextPath+"/user/findTodayDiet",
                success:function (data) {
                    if(data){
                        centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;今日膳食信息已经存在啦，您可以更改相关信息',101);
                    }else{
                        window.location.href = contextPath + "/to/userAddMeal";
                    }
                }
            });
        }

        function editDiet(t){
            var mealId = $(t).prev().val();
            window.location.href = contextPath+"/user/toEditDiet?mealId="+mealId;
        }

        function showDietDetail(t){
            var mealId = $(t).prev().prev().val();
            window.location.href = contextPath+"/user/toShowDiet?mealId="+mealId;
        }

        $(function () {
            $('#edit_user_btn').click(function () {
                var age = $("input[name='age']").val();
                var weight = $("input[name='weight']").val();
                if(age < 0 || age > 200){
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;请填写详实信息!',101);
                    return false;
                }
                if(weight < 0 || weight > 1000){
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;请填写详实信息!',101);
                    return false;
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: contextPath+"/user/editUser",
                    data: $('#edit_user_form').serialize(),
                    success: function (data) {
                        if(data){
                            $('#myModal_edit').modal('hide');
                            $(".modal-backdrop").remove();
                            $("body").removeClass('modal-open');
                            centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;信息更改成功!',101);
                            setTimeout(function () {
                                window.location.reload();
                            },1000);

                        }else {
                            centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;信息更改失败!',101);
                        }
                    }
                });
            });




        });

        function uploadHeadImg(obj){
            var path = $("#headfile").val();
            if (path.length == 0) {
                $("#uploadHeadImgErr").removeClass("hide").html('<span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请先上传文件')
                return false;
            } else {
                var extStart = path.lastIndexOf('.'),
                    ext = path.substring(extStart, path.length).toUpperCase();
                if (ext !== '.PNG' && ext !== '.JPG' && ext !== '.JPEG' && ext !== '.GIF') {
                    $("#uploadHeadImgErr").removeClass("hide").html('<span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请上传正确的文件格式')
                    return false;
                }
            }

            $('#uploadingHeadImg').removeClass("hide")

            $.ajax({
                type:"post",
                url:contextPath+"/user/uploadHeadImg",
                cache: false,
                data: new FormData($("#uploadHeadImgForm")[0]),
                processData: false,
                contentType: false,
                success:function (resultData) {
                    $('#uploadingHeadImg').addClass("hide")
                    $("#closeUploadHead").trigger("click")
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;头像更改成功!',301);
                    var url = resultData;
                    $("#headImg").attr("src",contextPath+url);
                },
                error:function () {
                    alert("服务器请求失败");
                }
            });
        }


        function uploadbackImg(obj){

            var path = $("#backfile").val();
            if (path.length == 0) {
                $("#uploadBackImgErr").removeClass("hide").html('<span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请先上传文件')
                return false;
            } else {
                var extStart = path.lastIndexOf('.'),
                    ext = path.substring(extStart, path.length).toUpperCase();
                if (ext !== '.PNG' && ext !== '.JPG' && ext !== '.JPEG' && ext !== '.GIF') {
                    $("#uploadBackImgErr").removeClass("hide").html('<span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请上传正确的文件格式')
                    return false;
                }
            }

            $('#uploadingBackImg').removeClass("hide")

            $.ajax({
                type:"post",
                url:contextPath+"/user/uploadBgImg",
                cache: false,
                data: new FormData($("#uploadBackgroundForm")[0]),
                processData: false,
                contentType: false,
                success:function (resultData) {
                    $('#uploadingBackImg').addClass("hide")
                    $("#closeUploadBackImg").trigger("click")
                    centerContent('<span class="fa fa-check-circle" style="font-size: 20px"></span>&nbsp;&nbsp;背景更改成功!',301);
                    var url = resultData;
                    $(".headback").css("background","linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,255,255,0)),url('"+contextPath+url+"') repeat-y").css("background-size","100%")
                },
                error:function () {
                    alert("服务器请求失败");
                }
            });
        }

        //mealClass nowTab
        function toChangePage(index,t){
            if(!$(t).hasClass("nowTab")){
                $(".mealClass").each(function () {
                    $(this).removeClass("nowTab");
                });
                $(t).addClass("nowTab");
            }

            if(index == 1){
                window.location.href=contextPath+"/to/userIndex";
                $('#myMeal').css('display','block');
                $('#mealAnalyze').css('display','none');
            }
            if(index == 2){
                $('#mealAnalyze').css('display','block');
                $('#myMeal').css('display','none');

                $.ajax({
                    type: "POST",
                    url: contextPath+"/user/weekAnalyze",
                    success: function (data) {
                        if(data.createTime){
                            $('#week_reach').html(data.reach ? "你需要更多的锻炼" : "你需要多补充能量");
                            var echarts_weekAnalyze = echarts.init(document.getElementById('week_analyze'));
                            var option = {
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data:['能量','碳水化合物','蛋白质','脂肪']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                toolbox: {
                                    feature: {
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    // data: ['周一','周二','周三','周四','周五','周六','周日']
                                    data: tranfer_time(data.createTime.reverse())
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [
                                    {
                                        name:'能量',
                                        type:'line',
                                        stack: '总量',
                                        data:data.weekEnergy.reverse()
                                    },
                                    {
                                        name:'碳水化合物',
                                        type:'line',
                                        stack: '总量',
                                        data:data.weekCHO.reverse()
                                    },
                                    {
                                        name:'蛋白质',
                                        type:'line',
                                        stack: '总量',
                                        data:data.weekProtein.reverse()
                                    },
                                    {
                                        name:'脂肪',
                                        type:'line',
                                        stack: '总量',
                                        data:data.weekFat.reverse()
                                    }
                                ]
                            };
                            echarts_weekAnalyze.setOption(option);
                        }else{
                            $('#week_reach').html("您需要录入膳食信息");
                        }

                    }
                });

            }

        }
        
        function tranfer_time(t) {
            var time = [];
            for (var i = 0; i < t.length; i++){
                time[i] = t[i].split(" ")[0];
            }
            return time;
        }
    </script>



</head>
<body class="indexBody">
    <div id="body">
        <!--nav-->
        <div th:replace="/html/top :: html"></div>

        <div id="content" style="height: auto; opacity: 1;">
            <div style=" position: relative;">
                <!--背景图-->
                <div class="home-bg headback" th:style="'background:'+ 'linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,255,255,0)),url(/AnalyzeFood'+${session.userZone.backgroundImg}+') repeat-y;'+'background-size:'+'100%'"></div>

                <div class="container" style="height: 130px;text-align: center;padding-top: 40px">

                    <!--模态框 uploadbackground-->
                    <button class="btn-edit-bg" data-toggle="modal" data-target="#uploadbackground">
                        <i class="icon iconfont icon-xiangji"></i>
                        &nbsp;&nbsp;编辑背景图片
                    </button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--资料卡-->
                            <div class="hr-panel" slot="dom">
                                <div class="hr-panel-body"
                                     style="padding: 0px;background-color: rgba(255,255,255,0.85);">

                                    <!--模态框 myModal_edit-->
                                    <button type="button" class="btn btn-primary"
                                            style="position: absolute; top: -10px; right: 30px; z-index: 1;"
                                            data-toggle="modal" data-target="#myModal_edit">
                                        编辑
                                    </button>
                                    <div class="row">
                                        <div class="col-sm-2" style="overflow: hidden;height: 166px;">
                                            <!--头像-->
                                            <div class="coach-head">
                                                <img id="headImg" th:src="'/AnalyzeFood'+${session.user.headImg}" style="width: 100%; height: 100%;object-fit:cover;">
                                                <!--模态框 uploadHeadImg-->
                                                <button class="btn-edit-head" style="width: 100%; position: absolute; bottom: 0px;" data-toggle="modal" data-target="#uploadHeadImg">
                                                    编辑头像
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 style="margin-top: 10px">
                                                <span th:if="${session.user.name != null}" th:text="${session.user.name}"></span>
                                                <span th:unless="${session.user.name != null}" th:text="小吃瓜群众"></span>
                                            </h3>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div style="line-height: 1.1">
                                                        年龄: <span th:if="${session.user.age != null}" th:text="${session.user.age}"></span>
                                                        <br>
                                                        性别: <span th:if="${session.user.sex != null}" th:text="${session.user.sex}"></span>
                                                        <br>
                                                        体重（公斤）: <span th:if="${session.user.weight != null}" th:text="${session.user.weight}"></span>
                                                        <br>
                                                        身高（cm）: <span th:if="${session.user.height != null}" th:text="${session.user.height}"></span>
                                                        <br>
                                                        注册时间: <span th:text="${#dates.format(session.user.createTime,'yyyy-MM-dd')}"></span>
                                                        <br>
                                                        联系电话: <span th:text="${session.user.phone}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-panel-footer coach-card-footer">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="icon iconfont icon-shipu"></i>
                                            创建食谱 <strong><span th:text="${sum}"></span></strong> 份
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="icon icon-book"></i>
                                            发表文章 <strong><span th:text="${articleSum}"></span></strong> 篇
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--url-->
                    <div class="home-tab-nav">
                        <a href="javascript:void(0);" class="mealClass nowTab" onclick="toChangePage(1,this)">我的食谱</a>
                        <!--ms-if-->
                        <a href="javascript:void(0);" class="mealClass" onclick="toChangePage(2,this)">膳食分析</a>
                    </div>


                    <!--分页内容-食谱-->
                    <div id="myMeal" style="">
                        <div class="row">
                            <div class="col-md-2">
                                <br>
                                <a href="javascript:void(0)" onclick="userAddMeal()"
                                   class="btn btn-success btn-block">创建食谱</a>
                            </div>
                        </div>
                        <br>

                        <div class="hr-panel" style="margin-bottom: 20px" th:if="${meals.list != null && meals.list.size() == 0}" >
                            <div class="hr-panel-body" style="padding:10px" >
                                <span style="color: red;font-size: 14px;margin-left:10px ">您还没有创建食谱呢</span>
                            </div>
                        </div>

                        <div class="hr-panel" style="margin-bottom: 20px" th:if="${meals.list != null && meals.list.size() > 0}" th:each="meal:${meals.list}">
                            <div class="hr-panel-body" style="padding:10px" >
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <strong><span th:text="${meal.mealName}"></span></strong>
                                                    </div>
                                                    <div class="col-sm-4"> </div>
                                                    <div class="col-sm-4 text-right">
                                                        创建时间：<span th:text="${#dates.format(meal.createTime, 'yyyy-MM-dd')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr-panel-body"
                                                 style="padding:10px;;height: 80px;overflow: auto;">
                                                <strong>食谱描述:</strong><br>
                                                <span th:text="${meal.description}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="hr-block">
                                            <div class="hr-panel-title">
                                                能量统计(单位：kcal)
                                            </div>
                                            <div class="hr-panel-body" style="padding:10px">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        目标能量：<span th:text="${meal.targetEnergy}"></span><br>
                                                        实际能量：<span th:text="${meal.dayEnergy}"></span><br>
                                                        差距：<span th:text="${meal.targetEnergy-meal.dayEnergy}"></span><br>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        碳水化合物：<span th:text="${meal.dayCHO}"></span><br>
                                                        蛋白质：<span th:text="${meal.dayProtein}"></span><br>
                                                        脂肪：<span th:text="${meal.dayFat}"></span><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="hr-block" >
                                            <div class="hr-panel-title">
                                                早餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal" th:each="mealMade:${meal.mealMades}" th:if="${mealMade.mealType} eq 0 ">
                                                <div >
                                                    <div style="clear: both">
                                                        <div class="food-type ">
                                                            <p class="foodtype_hidden" style="display: none" th:text="${mealMade.food.typeId}"></p>
                                                        </div>
                                                        <span th:text="${mealMade.food.foodName}"></span>
                                                        <span class="pull-right">
                                                            ×
                                                        <strong style="font-size: 18px"><span th:text="${mealMade.num}"></span></strong>
                                                        g &nbsp;&nbsp;&nbsp;
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="hr-block" >
                                            <div class="hr-panel-title">
                                                午餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal" th:each="mealMade:${meal.mealMades}" th:if="${mealMade.mealType} eq 1 ">
                                                <div >
                                                    <div style="clear: both">
                                                        <div class="food-type">
                                                            <p class="foodtype_hidden" style="display: none" th:text="${mealMade.food.typeId}"></p>
                                                        </div>
                                                        <span th:text="${mealMade.food.foodName}"></span>
                                                        <span class="pull-right">
                                                            ×
                                                        <strong style="font-size: 18px"><span th:text="${mealMade.num}"></span></strong>
                                                        g &nbsp;&nbsp;&nbsp;
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="hr-block" >
                                            <div class="hr-panel-title">
                                                晚餐
                                            </div>
                                            <div class="hr-panel-body diet-list-meal " th:each="mealMade:${meal.mealMades}" th:if="${mealMade.mealType} eq 2 ">
                                                <div >
                                                    <div style="clear: both">
                                                        <div class="food-type">
                                                            <p class="foodtype_hidden" style="display: none" th:text="${mealMade.food.typeId}"></p>
                                                        </div>
                                                        <span th:text="${mealMade.food.foodName}"></span>
                                                        <span class="pull-right">
                                                            ×
                                                        <strong style="font-size: 18px"><span th:text="${mealMade.num}"></span></strong>
                                                        g &nbsp;&nbsp;&nbsp;
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <!--操作按钮-->
                                <div>
                                    <input type="hidden" class="input_mealId" th:value="${meal.mealId}">

                                    <button onclick="editDiet(this)" class="btn btn-info " style="width: 120px">
                                        编辑
                                    </button>
                                    <button onclick="showDietDetail(this)" class="btn btn-default  pull-right" style="width: 120px">
                                        详情
                                    </button>
                                </div>

                            </div>
                        </div>

                        <!--分页-->
                        <div>
                            <div class="tsy-pager">
                                <div class="tsy-pager-pre" >
                                    <a th:if="${!meals.isFirstPage}" th:href="@{/to/userIndex(currentPage=${meals.prePage})}">上一页</a>
                                </div>
                                <div class="tsy-pager-pre" >
                                    <a th:if="${!meals.isLastPage}" th:href="@{/to/userIndex(currentPage=${meals.nextPage})}">下一页</a>
                                </div>
                                <div class="tsy-pager-t">
                                     第 <span th:text="${meals.pageNum}"></span> 页;共 <span th:if="${meals.pages != 0}" th:text="${meals.pages}"></span><span th:if="${meals.pages == 0}" >1</span> 页
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>


                    <!--膳食分析-->
                    <div id="mealAnalyze" style="display: none;margin-top: 50px">
                        <div class="hr-panel" style="margin-bottom: 20px">
                            <div class="hr-panel-body" style="padding:10px" >
                                <div class="row">
                                    <div id="week_analyze" style="height: 580px;width: 900px; margin:0 auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-panel" style="margin-bottom: 20px">
                            <div class="hr-panel-body" style="padding:10px" >
                                <div class="row" style="margin-left: 20px">
                                    <span style="font-size: 18px;color: #00aced">分析结果：</span>
                                    <div id="week_reach" style="color: orange;font-size: 20px;margin-left: 60px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>


        <div class="footer">
            <div class="container text-center" style="color:#8b8b8b ;padding:10px;margin-top:50px">
                Copyright © &nbsp;Carey 2019 &nbsp; &nbsp; &nbsp;每日膳食分析
            <hr>
            </div>
        </div>
    </div>


<div id="centerContent" style="display:none">操作成功！</div>

<!-- 模态框 (编辑按钮) -->
<div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center">
                    个人信息
                </h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form-inline" id="edit_user_form">
                    <div style="width: 650px">
                        <div class="row">
                            <input type="hidden" name="roleId" th:value="${session.user.roleId}"/>

                            <!--昵称-->
                            <div class="col-md-4">
                                昵称
                                <input type="text" class="form-control" name="roleAccount" th:value="${session.user.roleAccount}">
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--性别-->
                            <div class="col-md-4">
                                性别
                                <select type="text" class="form-control" name="sex" style="width: 200px">
                                    <option value="男" th:selected="${session.user.sex eq '男'}">男</option>
                                    <option value="女" th:selected="${session.user.sex eq '女'}">女</option>
                                </select>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <!--真实姓名-->
                            <div class="col-md-4">
                                真实姓名
                                <input type="text" class="form-control" name="name" th:value="${session.user.name}">
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--年龄-->
                            <div class="col-md-4">
                                年龄
                                <input type="text" class="form-control" name="age" th:value="${session.user.age}">
                                <br>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                身高（cm）
                                <input type="text" class="form-control" name="height" th:value="${session.user.height}">
                                <br>
                            </div>
                            <div class="col-md-1"></div>
                            <!--体重-->
                            <div class="col-md-4">
                                体重(公斤)
                                <input type="text" class="form-control" name="weight" th:value="${session.user.weight}">
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <!--联系电话-->
                            <div class="col-md-6">
                                联系电话
                                <br>
                                <input type="tel" class="form-control" name="phone" th:value="${session.user.phone}" disabled>
                                <br>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="edit_user_btn">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!--背景图-->
<div class="modal fade" id="uploadbackground" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadLabel">上传背景图片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  id="uploadBackgroundForm" enctype="multipart/form-data" name="form1" method="post">
                <div class="modal-body" style="text-align: center; ">
                    <div class="" >
                        <img id="newImg" th:src="'/AnalyzeFood'+${session.userZone.backgroundImg}"  width="764px" />
                    </div>
                    <div class=" mt-2">
                        <input type="file" class="myFileUpload mt-3" name="file" id="backfile" value="" style="display:none;" >
                        <input class="btn btn-success" type="button" value="选择图片" onclick="document.form1.file.click()">
                    </div>
                    <div class="mt-2 offset-5 hide" id="uploadingBackImg">
                        <span class="fa fa-spinner fa-pulse " style="font-size: 17px"></span> 图片上传中...
                    </div>
                    <div class="mt-2 offset-5 text-danger hide " id="uploadBackImgErr">
                        <span class="fa fa-exclamation-circle text-danger hide " style="font-size: 17px"></span> 请先上传文件
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeUploadBackImg" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="uploadbackImg($(this))">确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--头像-->
<div class="modal fade" id="uploadHeadImg" tabindex="-2" role="dialog" aria-labelledby="uploadhead" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadhead">上传头像</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" enctype="multipart/form-data" id="uploadHeadImgForm" name="form2" method="post">
                <div class="modal-body" style="text-align: center; ">
                    <div class="offset-2" >
                        <img class="rounded-circle" id="newHeadImg" th:src="'/AnalyzeFood'+${session.user.headImg}" width="300px" height="300px" />
                    </div>
                    <div class="mt-2" style="margin-top: 20px">
                        <input type="file" class="myFileUpload mt-3" name="file" id="headfile" value="" style="display:none;" >
                        <input class="btn btn-success" type="button" value="选择图片" onclick="document.form2.file.click()">
                    </div>
                    <div class="mt-2 offset-4 hide" id="uploadingHeadImg">
                        <span class="fa fa-spinner fa-pulse" style="font-size: 17px"></span> 头像上传中...
                    </div>
                    <div class="mt-2 offset-4 text-danger hide" id="uploadHeadImgErr">
                        <span class="fa fa-exclamation-circle text-danger " style="font-size: 17px"></span> 请先上传文件
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeUploadHead" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="uploadHeadImg($(this))">确认更改</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    $(function () {
        $('.foodtype_hidden').each(function () {
            var foodClass = getFoodClass($(this).text());
            $(this).parent().addClass(foodClass);
        });

    });
</script>
</html>