<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <link rel="stylesheet" th:href="@{/css/login/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/login/common.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login/index_2017_new.6e0bb8e9.css}">

    <script th:src="@{/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/login/verification.js}"></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
    /*]]>*/
    </script>

    <script th:inline="javascript">
        $(function () {

            userTel('#user', "#user_pass");

            userPwd('#pwd', "#pwd_pass");

            userYan2('#smsCode',"#sms_pass")
        });


        // 验证手机号
        function isPhoneNo(phone) {
            var pattern = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
            return pattern.test(phone);
        }

        // 验证密码
        function isPwdNo(pwd) {
            var pattern = /^[\x21-\x7E]{6,20}$/;
            return pattern.test(pwd);
        }

        /*手机号判断*/
        function userTel(inputid, spanid) {
            $(inputid).blur(function () {
                var username=$("#user").val();
                // var choose=$(".accept-items").val();

                if ($.trim($(inputid).val()).length == 0) {
                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 手机号没有输入");
                    $(spanid).addClass('red_size');

                } else {
                    if (isPhoneNo($.trim($(inputid).val())) == false) {
                        $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 手机号码不正确");
                        $(spanid).addClass('red_size');

                    }else{
                        $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-spinner fa-pulse' style = 'color:grey'></span> 验证中&nbsp;...");
                        $(spanid).removeClass('red_size');
                        $.ajax({
                            type:"GET",
                            url:contextPath+"/user/findPhone",
                            data:{phone:username},
                            success:function (resultData) {
                                if(resultData==true){
                                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle'></span> 手机号已经注册&nbsp;...").css("color","red");
                                }else {
                                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-check-circle' style='color: #00FF00'></span> 验证通过,你的账户可以注册").css("color","green");
                                }
                            },
                            error:function () {
                                alert("服务器请求失败");
                            }
                        });
                    }
                }
                $(inputid).focus(function () {
                    $(spanid).html("");
                });
            });
        }

        function userYan(inputid, code, spanid) {
            $(inputid).blur(function () {
                if ($.trim($(inputid).val()).length == 0) {
                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 验证码没有输入");
                    $(spanid).addClass('red_size');
                } else {
                    if ($.trim($(inputid).val()).toLowerCase() != code) {
                        $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 验证码不正确");
                        $(spanid).addClass('red_size');
                    }
                }
                $(inputid).focus(function () {
                    $(spanid).html("");
                });
            });
        }

        function userYan2(inputid, spanid) {
            $(inputid).blur(function () {
                if ($.trim($(inputid).val()).length == 0) {
                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 验证码没有输入");
                    $(spanid).addClass('red_size');
                }
                $(inputid).focus(function () {
                    $(spanid).html("");
                });
            });
        }

        function userPwd(inputid, spanid) {
            $(inputid).blur(function () {
                if ($.trim($(inputid).val()).length == 0) {
                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 密码没有输入");
                    $(spanid).addClass('red_size');
                } else {
                    if (isPwdNo($.trim($(inputid).val())) == false) {
                        $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 请输入6-20个字符的密码");
                        $(spanid).addClass('red_size');

                    }
                }
                $(inputid).focus(function () {
                    $(spanid).html("");
                });
            });
        }

        function check(){
            var pwd = document.getElementById("pwd");
            var suggestion=document.getElementById("suggestion");
            if(!pwd.value){
                suggestion.style.display="block";
            }else{
                suggestion.style.display="none";
            }

        }
        function check(){
            var pwd = document.getElementById("pwd");
            var suggestion=document.getElementById("suggestion");
            if(!pwd.value){
                suggestion.style.display="block";
            }else{
                suggestion.style.display="none";
            }
        }

        function  submit_btn(){

            if($('#user').val()==''){
                $('#user_pass').html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 手机号没有输入");
                $('#user_pass').addClass('red_size');
                return false;
            }
            if($('#pwd').val()==''){
                $('#pwd_pass').html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 密码没有输入");
                $('#pwd_pass').addClass('red_size');
                return false;
            }
            if($('#smsCode').val()==''){
                $('#sms_pass').html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 验证码没有输入");
                $('#sms_pass').addClass('red_size');
                return false;
            }

            var show_num = [];
            draw(show_num);

            $("#canvas").on('click',function(){
                draw(show_num);
            });
            userYan('#smsCode', show_num.join(""), "#sms_pass")


            $('#register_form').submit();
        }
    </script>


</head>
<body>

<div class="header clearfix">
    <a th:href="@{/to/login}" class="login" name="Preg_index_none_log">我已经注册，马上登录&gt;</a>
    <div class="logo-txt">欢迎注册</div>
</div>

<div class="main ">
    <form id="register_form" th:action="@{/user/register}" method="post">
        <div class="reg-form">
            <div class="phone-field">
                <div class="input-box clearfix">
                    <label class="title">手机号码</label>
                    <div class="input-wrapper">
                        <input type="text" id="user" placeholder="请输入手机号" name="phone"/>
                    </div>
                </div>
                <div class="spanpass"  ><span id="user_pass" style="text-align: left!important;"></span></div>
            </div>
            <div class="msg-field">
                <div class="input-box" style="width: 240px;float: left; ">
                    <label class="title">验证码</label>
                    <div class="input-wrapper captcha-box">
                        <input type="text" id="smsCode" name="mobileCode" maxlength="6" placeholder="请输入验证码">
                    </div>
                </div>
                <input type="hidden" id="checkWordReturn">

                <div style="float: right; height: 40px; border:1px solid #CCCCCC">
                    <canvas id="canvas" width="100" height="40"></canvas>
                </div>

                <div class="spanpass"><span id="sms_pass" style="text-align: left!important;"></span></div>
            </div>
            <div class="password-field" style="margin-top: 60px;">
                <div class="input-box clearfix" style="margin-bottom:0;">
                    <label class="title">设置密码</label>
                    <div class="input-wrapper">
                        <input type="password" onfocus="check()" id="pwd" name="pwd" maxlength="20" class="encrypt" style="display: inline-block;" placeholder="请输入密码" />
                    </div>
                </div>
                <div class="spanpass"><span id="pwd_pass" style="text-align: left!important;" ></span></div>
                <div>
                    <div id="suggestion" style="color: #9a9a9a;font-size: 13px"><em>&nbsp;&nbsp;6-20个字符，由字母，数字和符号两种以上组合&nbsp;</em></div>
                </div>
            </div>
            <div class="password-field">
                <div class="input-box clearfix" style="margin-bottom:0;">
                    <label class="title">重复密码</label>
                    <div class="input-wrapper">
                        <input type="password"  id="repwd"name="repwd" maxlength="20" class="encrypt" style="display: inline-block;" placeholder="请输入重复密码">
                    </div>
                </div>
                <div class="spanpass"><span id="repwd_pass" style="text-align: left!important;"></span></div>
                <script>
                    function yanConfirmPwd(inputid, spanid) {
                        $(inputid).blur(function () {
                            if ($.trim($(inputid).val()).length == 0) {
                                $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 重复密码没有输入");
                                $(spanid).addClass('red_size');
                            } else {
                                if ($('#pwd').val() != $(inputid).val() ) {
                                    $(spanid).html("&nbsp;&nbsp;&nbsp;<span class='fa fa-exclamation-circle' style = 'color:red'>&nbsp;</span> 重复密码不一致");
                                    $(spanid).addClass('red_size');
                                }
                            }
                            $(inputid).focus(function () {
                                $(spanid).html("");
                            });
                        });
                    };
                    yanConfirmPwd('#repwd', "#repwd_pass");
                </script>

            </div>
            <input type="button" class="submit-btn" onclick="submit_btn()" value="注   册">
        </div>


    </form>
</div>


<div style="height: 50px;text-align: center;margin: 0px auto;">
    Copyright © &nbsp;Carey 2019 &nbsp; &nbsp; &nbsp;每日膳食分析
</div>

</body>
</html>