<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <link rel="stylesheet" th:href="@{/css/login/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/login/common.css}" />
    <link rel="stylesheet" th:href="@{/css/login/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/login/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login/index_2017_new.6e0bb8e9.css}">

    <script th:src="@{/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/login/verification.js}"></script>

    <script>
        $(function () {
            var show_num = [];
            draw(show_num);

            $("#canvas").on('click',function(){
                draw(show_num);
            });
        });
    </script>


</head>
<body>

<div class="header clearfix">
    <a th:href="@{/to/login}" class="login" name="Preg_index_none_log">我已经注册，马上登录&gt;</a>
    <div class="logo-txt">欢迎注册</div>
</div>

<div class="main ">
    <form id="enterReg_form" th:action="@{/user/register}" method="post" autocomplete="off" onsubmit="return submitB()">
        <div class="reg-form">
            <div class="phone-field">
                <div class="input-box clearfix">
                    <label class="title">手机号码</label>
                    <div class="input-wrapper">
                        <input type="text" id="user" placeholder="请输入手机号" name="phone"/>
                    </div>
                </div>
                <div class="spanpass"  ><span id="user_pass" style="text-align: left!important;"></span></div>
            </div>
            <div class="msg-field">
                <div class="input-box" style="width: 240px;float: left; border-right: 0px">
                    <label class="title">验证码</label>
                    <div class="input-wrapper captcha-box">
                        <input type="text" id="smsCode" name="mobileCode" maxlength="6" placeholder="请输入手机验证码">
                        <!--<input type="text" id="smsCode"  name="mobileCode" onblur="checkUser2()" maxlength="11" placeholder="请输入手机号码">-->
                    </div>
                </div>
                <input type="hidden" id="checkWordReturn">

                <!--<input type="button" id="sendSmsCode" value="获取短信验证码" style="display:inline-block; float: right;  color: grey;  height: 40px; width: 139px; background-color: #f7f7f7;  border: 1px solid #cccccc; " class="send-msg"  onclick="noPhonforCheckWord($(this))">-->

                <canvas id="canvas" width="100" height="44"></canvas>

                <div class="spanpass"><span id="sms_pass" style="text-align: left!important;"></span></div>
            </div>
            <div class="password-field" style="margin-top: 60px;">
                <div class="input-box clearfix" style="margin-bottom:0;">
                    <label class="title">设置密码</label>
                    <div class="input-wrapper">
                        <input type="password" onfocus="check()" id="pwd" name="pwd" maxlength="20" class="encrypt" style="display: inline-block;" placeholder="请输入密码">
                    </div>
                </div>
                <div class="spanpass"><span id="pwd_pass" style="text-align: left!important;" ></span></div>
                <div>
                    <div id="suggestion" style="color: #9a9a9a;font-size: 13px"><em>&nbsp;&nbsp;6-20个字符，由字母，数字和符号两种以上组合&nbsp;</em><a id="pswSuggestion" href="javascript:void(0)" onclick="checkother()">密码设置建议</a></div>
                </div>
            </div>
            <div class="password-field">
                <div class="input-box clearfix" style="margin-bottom:0;">
                    <label class="title">重复密码</label>
                    <div class="input-wrapper">
                        <input type="password"  id="repwd"name="repwd" maxlength="20" class="encrypt" style="display: inline-block;" placeholder="请输入重复密码">
                    </div>
                </div>
                <div class="spanpass"><span id="repwd_pass" style="text-align: left!important;"></span></div>
            </div>
            <input type="submit" class="submit-btn" value="提交注册">
        </div>
    </form>
</div>


<div style="height: 50px;text-align: center;margin: 0px auto;">
    Copyright © &nbsp;Carey 2019 &nbsp; &nbsp; &nbsp;每日膳食分析
</div>

</body>
</html>