<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" th:href="@{/css/user/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/Home.css}">
    <link rel="stylesheet" th:href="@{/css/user/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/user/local.css}">
    <link rel="stylesheet" th:href="@{/css/user/pager.css}">
    <link rel="stylesheet" th:href="@{/css/user/userIndex.css}">
    <link rel="stylesheet" th:href="@{/css/user/top2.css}">
    <script th:src="@{/js/user/top.js}"></script>
    <!--<script th:src="@{/js/user/love.js}"></script>-->


    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = [[${#request.getContextPath()}]]; //获取当前应用路径
        /*]]>*/
    </script>



</head>
<body>
<nav class="navbar navbar-default nav_top">
    <div class="container">
        <div>
            <ul class="nav nav-pills ">
                <li style="padding-left:12px ">
                  <img src="http://127.0.0.1:8080/AnalyzeFood/image/icon.png"  height="50px">
                </li>
                <li style="width: 20px;height: 50px"></li>

                <!--url-->
                <li class="top_li now">
                    <a class="nav_a_style" th:href="@{/to/userIndex}">
                        我的主页
                    </a>
                </li>
                <li class="top_li">
                    <a class="nav_a_style" th:href="@{/to/articleIndex}">
                        膳识堂
                    </a>
                </li>
                <li class="top_li">
                    <a class="nav_a_style" th:href="@{/to/dietList}">
                        食物成分表
                    </a>
                </li>


                <li class="pull-right" style="margin-left: 360px" onmouseover="touch_on()" onmouseout="touch_out()">
                    <a style="font-size: 14px;line-height: 30px;display: inline-block">
                        <i class="icon icon-cog">&nbsp;&nbsp;</i><span th:text="${session.user.roleAccount}"></span>
                    </a>
                    <!--url-->
                    <ul class="dropdown-menu" style="text-align: center;">
                        <li ><a th:href="@{/to/userUpdatePwd}">修改密码</a></li>
                    </ul>
                </li>
                <li class="pull-right">
                    <a th:href="@{/user/logout}" style="padding:10px ;font-size: 14px;line-height: 30px;cursor: pointer;display: inline-block">登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script th:inline="javascript">
    $(function () {
        var topIndex = [[${topIndex}]];
        if(!$('.top_li').eq(topIndex).hasClass("now")){
            $(".top_li").each(function () {
                $(this).removeClass("now");
            });
            $('.top_li').eq(topIndex).addClass("now");
        }
    });
</script>
</body>
</html>